In [15]:
# imports

import pandas as pd
import requests
import os

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [16]:
# Load csv file from local machine

data = pd.read_csv('C:\\Users\\affuy\\Documents\\Data_Sets\\df_2.csv')
# View make up and structure of the file
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394 entries, 0 to 393
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    394 non-null    int64
 1   station_name  394 non-null    object
 2   Latitude      394 non-null    float64
 3   Longitude     394 non-null    float64
 4   Total Bikes   394 non-null    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 15.5+ KB

In [17]:
# Visualize the DataFrame
data.head(5)

   Unnamed: 0             station_name   Latitude  Longitude  Total Bikes
0           0          2 - Miguel Moya  40.420589  -3.705842           27
1           1   3 - Plaza Conde Suchil  40.430294  -3.706917           19
2           2  6 - Colegio Arquitectos  40.424148  -3.698447           19
3           3            7 - Hortaleza  40.425191  -3.697771           19
4           4  9 - Plaza de San Miguel  40.415606  -3.709508           24

In [18]:
# Create a new column concatenating latitude and longitude into a comma-separated string
data['ll'] = data['Latitude'].astype(str) + ',' + data['Longitude'].astype(str)
data.head()

,Unnamed: 0,station_name,Latitude,Longitude,Total Bikes,ll
0,0,2 - Miguel Moya,40.420589,-3.705842,27,"40.4205886,-3.7058415"
1,1,3 - Plaza Conde Suchil,40.430294,-3.706917,19,"40.4302937,-3.7069171"
2,2,6 - Colegio Arquitectos,40.424148,-3.698447,19,"40.424148,-3.698447"
3,3,7 - Hortaleza,40.425191,-3.697771,19,"40.4251906,-3.6977715"
4,4,9 - Plaza de San Miguel,40.415606,-3.709508,24,"40.4156057,-3.7095084"

In [19]:
# Drop unwanted columns
updated_data = data.drop(['Unnamed: 0', 'Latitude', 'Longitude'], axis=1)

updated_data

                    station_name  Total Bikes                       ll
0                2 - Miguel Moya           27    40.4205886,-3.7058415
1         3 - Plaza Conde Suchil           19    40.4302937,-3.7069171
2        6 - Colegio Arquitectos           19      40.424148,-3.698447
3                  7 - Hortaleza           19    40.4251906,-3.6977715
4        9 - Plaza de San Miguel           24    40.4156057,-3.7095084
..                           ...          ...                      ...
389  598 - Calle San Modesto, 42           24     40.4860555,-3.692627
390      494 - Arturo Soria, 330           23  40.48038551,-3.66724784
391         272 - Calle del tejo           23    40.3980005,-3.6780275
392    559 - Calle Babilonia, 19           23    40.4675299,-3.5882347
393             528 - Albelda, 6           24    40.4494225,-3.6573666

[394 rows x 3 columns]

In [20]:
# Make the requst on Foursquare QUERY PARAMS, inputing the ll=40.4205886,-3.7058415, radius 1000, categories 13000

import requests
import os

api_key = os.environ["FOURSQUARE_API_KEY"]

url = "https://api.foursquare.com/v3/places/search?ll=40.4205886%2C-3.7058415&radius=1000&categories=13000&sort=RATING&limit=20"

headers = {
    "accept": "application/json",
    "Authorization": api_key
}

response = requests.get(url, headers=headers)


response = response.json()
response

{'results': [{'fsq_id': '57756e14498e605edcad54fc',
   'categories': [{'id': 13009,
     'name': 'Cocktail Bar',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/cocktails_',
      'suffix': '.png'}},
    {'id': 13057,
     'name': 'Gastropub',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/gastropub_',
      'suffix': '.png'}},
    {'id': 13347,
     'name': 'Tapas Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/tapas_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 830,
   'geocodes': {'drop_off': {'latitude': 40.414873, 'longitude': -3.699567},
    'main': {'latitude': 40.414875, 'longitude': -3.699518},
    'roof': {'latitude': 40.414875, 'longitude': -3.699518}},
   'link': '/v3/places/57756e14498e605edcad54fc',
   'location': {'address': 'Calle Echegaray, 21',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': '',
    'formatted_address': 'Calle Echegaray, 21, 28014 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28014',
    'region': 'Madrid'},
   'name': 'Salmon Guru',
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '5815186538faca7f0db08a89',
   'categories': [{'id': 13065,
     'name': 'Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 698,
   'geocodes': {'main': {'latitude': 40.419187, 'longitude': -3.69816},
    'roof': {'latitude': 40.419187, 'longitude': -3.69816}},
   'link': '/v3/places/5815186538faca7f0db08a89',
   'location': {'address': 'Calle Gran Vía, 1',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': '',
    'formatted_address': 'Calle Gran Vía, 1, 28013 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28013',
    'region': 'Madrid'},
   'name': 'La Primera',
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '520a4f7011d2a16be9843206',
   'categories': [{'id': 13034,
     'name': 'Café',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/cafe_',
      'suffix': '.png'}},
    {'id': 13035,
     'name': 'Coffee Shop',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_',
      'suffix': '.png'}},
    {'id': 13065,
     'name': 'Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 369,
   'geocodes': {'drop_off': {'latitude': 40.423827, 'longitude': -3.705543},
    'main': {'latitude': 40.423876, 'longitude': -3.705524},
    'roof': {'latitude': 40.423876, 'longitude': -3.705524}},
   'link': '/v3/places/520a4f7011d2a16be9843206',
   'location': {'address': 'Calle del Pez, 20',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': '',
    'formatted_address': 'Calle del Pez, 20, 28004 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28004',
    'region': 'Madrid'},
   'name': 'HanSo Café',
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '523d935211d288f6569fe43d',
   'categories': [{'id': 13345,
     'name': 'Spanish Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/spanish_',
      'suffix': '.png'}},
    {'id': 13025,
     'name': 'Wine Bar',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/winery_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 338,
   'geocodes': {'main': {'latitude': 40.422886, 'longitude': -3.703032},
    'roof': {'latitude': 40.422886, 'longitude': -3.703032}},
   'link': '/v3/places/523d935211d288f6569fe43d',
   'location': {'address': 'Calle Ballesta, 32',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': '',
    'formatted_address': 'Calle Ballesta, 32, 28004 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28004',
    'region': 'Madrid'},
   'name': 'La Pescadería',
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '5004217de4b0524582e67aa0',
   'categories': [{'id': 13046,
     'name': 'Ice Cream Parlor',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/icecream_',
      'suffix': '.png'}},
    {'id': 13065,
     'name': 'Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 546,
   'geocodes': {'main': {'latitude': 40.416157, 'longitude': -3.70847},
    'roof': {'latitude': 40.416157, 'longitude': -3.70847}},
   'link': '/v3/places/5004217de4b0524582e67aa0',
   'location': {'address': 'Calle Mayor, 40',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': '',
    'formatted_address': 'Calle Mayor, 40, 28013 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28013',
    'region': 'Madrid'},
   'name': 'Amorino',
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '4c321c9816adc9281693c19c',
   'categories': [{'id': 13006,
     'name': 'Beer Bar',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/pub_',
      'suffix': '.png'}},
    {'id': 13145,
     'name': 'Fast Food Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/fastfood_',
      'suffix': '.png'}},
    {'id': 13347,
     'name': 'Tapas Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/tapas_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 803,
   'geocodes': {'main': {'latitude': 40.415106, 'longitude': -3.712051},
    'roof': {'latitude': 40.415106, 'longitude': -3.712051}},
   'link': '/v3/places/4c321c9816adc9281693c19c',
   'location': {'address': 'Calle Mayor, 77',
    'address_extended': '3°',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': 'C. Bailén',
    'formatted_address': 'Calle Mayor, 77 (C. Bailén), 28013 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28013',
    'region': 'Madrid'},
   'name': 'La Mayor',
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '4b9153cdf964a52064b333e3',
   'categories': [{'id': 13010,
     'name': 'Dive Bar',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/divebar_',
      'suffix': '.png'}},
    {'id': 13025,
     'name': 'Wine Bar',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/winery_',
      'suffix': '.png'}},
    {'id': 13347,
     'name': 'Tapas Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/tapas_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 490,
   'geocodes': {'main': {'latitude': 40.423769, 'longitude': -3.701818},
    'roof': {'latitude': 40.423769, 'longitude': -3.701818}},
   'link': '/v3/places/4b9153cdf964a52064b333e3',
   'location': {'address': 'Calle Colón, 13',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'formatted_address': 'Calle Colón, 13, 28004 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28004',
    'region': 'Madrid'},
   'name': 'Bodega de la Ardosa',
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '5478dde0498eab68d4d6423f',
   'categories': [{'id': 13347,
     'name': 'Tapas Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/tapas_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 583,
   'geocodes': {'drop_off': {'latitude': 40.415818, 'longitude': -3.702902},
    'main': {'latitude': 40.415733, 'longitude': -3.702907},
    'roof': {'latitude': 40.415733, 'longitude': -3.702907}},
   'link': '/v3/places/5478dde0498eab68d4d6423f',
   'location': {'address': 'Calle de Cádiz, 4',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': '',
    'formatted_address': 'Calle de Cádiz, 4, 28012 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28012',
    'region': 'Madrid'},
   'name': 'Rosi la Loca',
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '4fddbb7fe4b08aca49a0273a',
   'categories': [{'id': 13003,
     'name': 'Bar',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/pub_',
      'suffix': '.png'}},
    {'id': 13347,
     'name': 'Tapas Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/tapas_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 833,
   'geocodes': {'main': {'latitude': 40.418287, 'longitude': -3.696472}},
   'link': '/v3/places/4fddbb7fe4b08aca49a0273a',
   'location': {'address': 'Calle Alcalá 42',
    'address_extended': 'C. Marqués de Casa Riera, 2',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': 'C. Marqués de Casa Riera, 2',
    'formatted_address': 'Calle Alcalá 42 (C. Marqués de Casa Riera, 2), 28014 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28014',
    'region': 'Madrid'},
   'name': 'Azotea Círculo de Bellas Artes',
   'related_places': {'parent': {'fsq_id': '4adcda38f964a5204c3c21e3',
     'name': 'Círculo de Bellas Artes'}},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '4bb23a3742959c74e08b202c',
   'categories': [{'id': 13065,
     'name': 'Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
      'suffix': '.png'}},
    {'id': 13034,
     'name': 'Café',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/cafe_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 179,
   'geocodes': {'drop_off': {'latitude': 40.419256, 'longitude': -3.704568},
    'main': {'latitude': 40.419305, 'longitude': -3.704617},
    'roof': {'latitude': 40.419305, 'longitude': -3.704617}},
   'link': '/v3/places/4bb23a3742959c74e08b202c',
   'location': {'address': 'Mesonero Romanos, 8',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': '',
    'formatted_address': 'Mesonero Romanos, 8, 28013 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28013',
    'region': 'Madrid'},
   'name': 'Valdemeso',
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '4b7eaafdf964a52027f82fe3',
   'categories': [{'id': 13302,
     'name': 'Mediterranean Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/mediterranean_',
      'suffix': '.png'}},
    {'id': 13338,
     'name': 'Seafood Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/seafood_',
      'suffix': '.png'}},
    {'id': 13346,
     'name': 'Paella Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/paella_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 824,
   'geocodes': {'main': {'latitude': 40.415498, 'longitude': -3.698872},
    'roof': {'latitude': 40.415498, 'longitude': -3.698872}},
   'link': '/v3/places/4b7eaafdf964a52027f82fe3',
   'location': {'address': 'Calle Ventura de la Vega, 13',
    'address_extended': 'Carrera de San Jerónimo',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': 'Carrera de San Jerónimo',
    'formatted_address': 'Calle Ventura de la Vega, 13 (Carrera de San Jerónimo), 28014 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28014',
    'region': 'Madrid'},
   'name': 'Arrocería Marina Ventura',
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '5d503736941303000893cdfc',
   'categories': [{'id': 13009,
     'name': 'Cocktail Bar',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/cocktails_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 583,
   'geocodes': {'main': {'latitude': 40.423948, 'longitude': -3.711083},
    'roof': {'latitude': 40.423948, 'longitude': -3.711083}},
   'link': '/v3/places/5d503736941303000893cdfc',
   'location': {'address': 'Calle Gran Vía, 84',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': '',
    'formatted_address': 'Calle Gran Vía, 84, Madrid Madrid',
    'locality': 'Madrid',
    'region': 'Madrid'},
   'name': '360° Rooftop Bar',
   'related_places': {'parent': {'fsq_id': '5cfd69ad340a58002c704311',
     'name': 'Hotel Riu Plaza de España'}},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '4baa2a35f964a520b04f3ae3',
   'categories': [{'id': 13322,
     'name': 'Peruvian Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/peruvian_',
      'suffix': '.png'}},
    {'id': 13347,
     'name': 'Tapas Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/tapas_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 496,
   'geocodes': {'main': {'latitude': 40.41898, 'longitude': -3.70039},
    'roof': {'latitude': 40.41898, 'longitude': -3.70039}},
   'link': '/v3/places/4baa2a35f964a520b04f3ae3',
   'location': {'address': 'Calle Jardines, 21',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': '',
    'formatted_address': 'Calle Jardines, 21, 28013 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28013',
    'region': 'Madrid'},
   'name': 'Lupita',
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '5cc58f1bfe3740002c581561',
   'categories': [{'id': 13034,
     'name': 'Café',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/cafe_',
      'suffix': '.png'}},
    {'id': 13065,
     'name': 'Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 418,
   'geocodes': {'main': {'latitude': 40.422401, 'longitude': -3.70158}},
   'link': '/v3/places/5cc58f1bfe3740002c581561',
   'location': {'address': 'Calle Valverde, 28',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': '',
    'formatted_address': 'Calle Valverde, 28, 28004 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28004',
    'region': 'Madrid'},
   'name': 'Zenith Brunch & Cocktails',
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '62c6c87fc5d05063683726d8',
   'categories': [{'id': 13065,
     'name': 'Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
      'suffix': '.png'}},
    {'id': 17071,
     'name': 'Health Food Store',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/food_grocery_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 617,
   'geocodes': {'main': {'latitude': 40.419325, 'longitude': -3.698785}},
   'link': '/v3/places/62c6c87fc5d05063683726d8',
   'location': {'address': 'Calle Gran Vía, 7',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': '',
    'formatted_address': 'Calle Gran Vía, 7, 28013 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28013',
    'region': 'Madrid'},
   'name': 'Honest Greens Gran Via 7',
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '4adcda34f964a520f73a21e3',
   'categories': [{'id': 13347,
     'name': 'Tapas Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/tapas_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 398,
   'geocodes': {'main': {'latitude': 40.417205, 'longitude': -3.704507},
    'roof': {'latitude': 40.417205, 'longitude': -3.704507}},
   'link': '/v3/places/4adcda34f964a520f73a21e3',
   'location': {'address': 'Calle Tetuán, 12',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'formatted_address': 'Calle Tetuán, 12, 28013 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28013',
    'region': 'Madrid'},
   'name': 'Casa Labra',
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '56b0b26a498e4f984d6f14c7',
   'categories': [{'id': 13034,
     'name': 'Café',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/cafe_',
      'suffix': '.png'}},
    {'id': 13065,
     'name': 'Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 647,
   'geocodes': {'main': {'latitude': 40.424504, 'longitude': -3.711645}},
   'link': '/v3/places/56b0b26a498e4f984d6f14c7',
   'location': {'address': 'Princesa, 2',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'formatted_address': 'Princesa, 2, 28008 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28008',
    'region': 'Madrid'},
   'name': 'Faborit',
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '618cf957e950ce6d1b3dde59',
   'categories': [{'id': 13035,
     'name': 'Coffee Shop',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 406,
   'geocodes': {'drop_off': {'latitude': 40.424144, 'longitude': -3.70641},
    'main': {'latitude': 40.424222, 'longitude': -3.706373},
    'roof': {'latitude': 40.424222, 'longitude': -3.706373}},
   'link': '/v3/places/618cf957e950ce6d1b3dde59',
   'location': {'address': 'Calle del Pez, 36',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': '',
    'formatted_address': 'Calle del Pez, 36, 28004 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28004',
    'region': 'Madrid'},
   'name': 'Ambu Coffee',
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '4adcda34f964a5202d3b21e3',
   'categories': [{'id': 13310,
     'name': 'Modern European Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
      'suffix': '.png'}},
    {'id': 13347,
     'name': 'Tapas Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/tapas_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 580,
   'geocodes': {'main': {'latitude': 40.417716, 'longitude': -3.711488},
    'roof': {'latitude': 40.417716, 'longitude': -3.711488}},
   'link': '/v3/places/4adcda34f964a5202d3b21e3',
   'location': {'address': 'Plaza de Oriente, 2',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'formatted_address': 'Plaza de Oriente, 2, 28013 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28013',
    'region': 'Madrid'},
   'name': 'Café de Oriente',
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '5d63f296da751f0008b6896d',
   'categories': [{'id': 13003,
     'name': 'Bar',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/pub_',
      'suffix': '.png'}},
    {'id': 13065,
     'name': 'Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 697,
   'geocodes': {'main': {'latitude': 40.414939, 'longitude': -3.70226}},
   'link': '/v3/places/5d63f296da751f0008b6896d',
   'location': {'address': 'Calle de Espoz y Mina, 13',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': '',
    'formatted_address': 'Calle de Espoz y Mina, 13, Madrid Madrid',
    'locality': 'Madrid',
    'region': 'Madrid'},
   'name': 'Pez Tortilla',
   'related_places': {},
   'timezone': 'Europe/Madrid'}],
 'context': {'geo_bounds': {'circle': {'center': {'latitude': 40.4205886,
     'longitude': -3.7058415},
    'radius': 1000}}}}

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [21]:
import pandas as pd

def categorize_venues(categories):
    # Define category groupings
    category_groups = {
        'Cocktail Bar': 'Bars',
        'Gastropub': 'Bars',
        'Nightclub': 'Nightclubs',
        'Restaurant': 'Restaurants'
    }
    
    for category in categories:
        category_name = category.get('name', 'Other')
        if category_name in category_groups:
            return category_groups[category_name]
    
    return 'Other'  # If no matching category found, assign to 'Other' category

def extract_data(response):
    data_list = []
    nearby_points_of_interest = []

    for result in response['results']:
        name = result.get('name', 'N/A')
        
        # Extracting location information
        location_info = result.get('location', {})
        address = location_info.get('address', 'N/A')
        city = location_info.get('locality', 'N/A')
        country = location_info.get('country', 'N/A')
        
        # Extracting ranking information (if available)
        ranking_info = result.get('ranking', {})
        ranking = ranking_info.get('rank', 'N/A')

        # Extracting categories
        categories = result.get('categories', [])
        
        # Categorize the venue based on categories
        category = categorize_venues(categories)

        data_list.append({'Name': name, 'Address': address, 'City': city, 'Country': country, 'Ranking': ranking, 'Categories': category})
        
        # Extracting nearby points of interest
        nearby_info = result.get('nearby_points_of_interest', [])
        nearby_points_of_interest.extend(nearby_info)

    # Create a DataFrame from the extracted data
    df_fs = pd.DataFrame(data_list)
    
    # Create a DataFrame for nearby points of interest
    poi_df = pd.DataFrame(nearby_points_of_interest, columns=['Point of Interest'])
    
    return df_fs, poi_df

# Assuming you have your response stored in a variable called 'response'
df_fs, poi_df = extract_data(response)

# Display the resulting DataFrames
print("Venues:")
print(df_fs)

print("\nNearby Points of Interest:")
print(poi_df)

Venues:
                              Name                       Address    City  \
0                      Salmon Guru           Calle Echegaray, 21  Madrid
1                       La Primera             Calle Gran Vía, 1  Madrid
2                       HanSo Café             Calle del Pez, 20  Madrid
3                    La Pescadería            Calle Ballesta, 32  Madrid
4                          Amorino               Calle Mayor, 40  Madrid
5                         La Mayor               Calle Mayor, 77  Madrid
6              Bodega de la Ardosa               Calle Colón, 13  Madrid
7                     Rosi la Loca             Calle de Cádiz, 4  Madrid
8   Azotea Círculo de Bellas Artes               Calle Alcalá 42  Madrid
9                        Valdemeso           Mesonero Romanos, 8  Madrid
10        Arrocería Marina Ventura  Calle Ventura de la Vega, 13  Madrid
11                360° Rooftop Bar            Calle Gran Vía, 84  Madrid
12                          Lupita            Calle Jardines, 21  Madrid
13       Zenith Brunch & Cocktails            Calle Valverde, 28  Madrid
14        Honest Greens Gran Via 7             Calle Gran Vía, 7  Madrid
15                      Casa Labra              Calle Tetuán, 12  Madrid
16                         Faborit                   Princesa, 2  Madrid
17                     Ambu Coffee             Calle del Pez, 36  Madrid
18                 Café de Oriente           Plaza de Oriente, 2  Madrid
19                    Pez Tortilla     Calle de Espoz y Mina, 13  Madrid

   Country Ranking   Categories
0       ES     N/A         Bars
1       ES     N/A  Restaurants
2       ES     N/A  Restaurants
3       ES     N/A        Other
4       ES     N/A  Restaurants
5       ES     N/A        Other
6       ES     N/A        Other
7       ES     N/A        Other
8       ES     N/A        Other
9       ES     N/A  Restaurants
10      ES     N/A        Other
11      ES     N/A         Bars
12      ES     N/A        Other
13      ES     N/A  Restaurants
14      ES     N/A  Restaurants
15      ES     N/A        Other
16      ES     N/A  Restaurants
17      ES     N/A        Other
18      ES     N/A        Other
19      ES     N/A  Restaurants

Nearby Points of Interest:
Empty DataFrame
Columns: [Point of Interest]
Index: []

Put your parsed results into a DataFrame

In [22]:
# Create a DataFrame from the extracted data
df_fs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        20 non-null     object
 1   Address     20 non-null     object
 2   City        20 non-null     object
 3   Country     20 non-null     object
 4   Ranking     20 non-null     object
 5   Categories  20 non-null     object
dtypes: object(6)
memory usage: 1.1+ KB

In [23]:
# Save this as a csv file

import pandas as pd

# Save the DataFrame as a CSV file
df_fs.to_csv('C:\\Users\\affuy\\Documents\\Data_Sets\\df_foursquare.csv', index=False)

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

In [24]:
import requests
import os

yelp_api_key = os.environ["YELP_API_KEY"]
url = "https://api.yelp.com/v3/businesses/search?latitude=40.4205886&longitude=-3.7058415&radius=1000&categories=restaurants%2Cbars%2Clandmarks&sort_by=rating&limit=20"

headers = {
    "accept": "application/json",
    "Authorization": f"Bearer {yelp_api_key}"  # Replace with your actual Yelp API access token
}

response = requests.get(url, headers=headers)

response = response.json()

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [25]:
def parse_yelp_response(response):
    businesses = response.get('businesses', [])
    parsed_data = []

    for business in businesses:
        name = business.get('name', '')
        location = ', '.join(business.get('location', {}).get('display_address', []))
        ranking = business.get('rating', 0)
        categories = ', '.join([category.get('title', '') for category in business.get('categories', [])])

        parsed_data.append({
            'Name': name,
            'Location': location,
            'Ranking': ranking,
            'Category': categories
        })

    df = pd.DataFrame(parsed_data)
    return df

Put your parsed results into a DataFrame

In [26]:
# Data already passed into a DataFrame in the function above
# We call the function to view the DataFrame
df = parse_yelp_response(response)

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

##### I have found that both the Foursquare and Yelp APIs provide valuable data for various purposes. The choice of which one to use depends on your specific needs and the type of data you require. 

##### The Yelp API has been particularly helpful for me. It provided me with information primarily related to businesses and places, with a strong focus on user-generated reviews and ratings. This includes detailed information about businesses such as their names, addresses, contact details, ratings, reviews, and categories. It has proven to be very useful when I needed to analyze and compare user opinions, ratings, and reviews about restaurants, bars, and other businesses. I've found it to be more suitable for applications related to the hospitality and food service industry.

##### On the other hand, the Foursquare API has also been quite valuable in my work. It offers a broader range of location-based data and insights beyond just businesses and places. In addition to business details, Foursquare has provided me with data related to check-ins, user-generated tips, user profiles, and location trends. This extensive dataset has been instrumental in exploring user behavior, tracking trends in check-in activity, and understanding user preferences in a more general sense. It's a versatile choice for applications that require a deeper understanding of user engagement and location-based behavior.

##### In summary, if you primarily need detailed information about businesses, their ratings, and reviews, the Yelp API may be more suitable for your needs. On the other hand, if you're interested in a broader range of location-based data, including user activity and trends, the Foursquare API can provide valuable insights. Your choice should align with your specific analytical goals and the type of data that best serves your analysis."

Get the top 10 restaurants according to their rating

In [27]:
# Sort the DataFrame by 'Ranking' in ascending order
sorted_df = df.sort_values(by='Ranking', ascending=False)

# Display the top 10 results
top_10_df = sorted_df.head(10)

# Rename the index column to 'top_ranking'
top_10_df.index.name = 'top_ranking'

# Print the top 10 DataFrame
print(top_10_df)

                                              Name  \
top_ranking
0                                    Sabe a Gloria
1                                     Blow Dry Bar
18                                    Pez Tortilla
17           Arquibar - La Traviesa de Conde Duque
16                                            Bico
15                                         Roostiq
14                                Vinoteca Moratín
13                                          Araldo
12                                     Baton Rouge
11                                       Kuoco 360

                                                    Location  Ranking  \
top_ranking
0              Calle de las Huertas, 53, 28014 Madrid, Spain      5.0
1                   Calle de Pelayo, 76, 28004 Madrid, Spain      5.0
18                  Calle Cava Baja, 42, 28005 Madrid, Spain      5.0
17              Travesia Conde Duque, 5, 28015 Madrid, Spain      5.0
16              Calle de San Joaquín, 5, 28004 Madrid, Spain      5.0
15           Calle Augusto Figueroa, 47, 28004 Madrid, Spain      5.0
14                 Calle de Moratín, 36, 28014 Madrid, Spain      5.0
13              Calle de los Madrazo, 5, 28014 Madrid, Spain      5.0
12              Calle de la Victoria, 8, 28012 Madrid, Spain      5.0
11           Calle de San Bartolomé, 14, 28004 Madrid, Spain      5.0

                                                      Category
top_ranking
0                     Tabernas, Arroceria / Paella, Tapas Bars
1                                         Hair Salons, Lounges
18                                                     Spanish
17           Modern European, Breakfast & Brunch, Venues & ...
16                               Cafeteria, Breakfast & Brunch
15                                          Pizza, Steakhouses
14                                 Spanish, French, Gastropubs
13                                              Pizza, Italian
12                                   Cocktail Bars, Gastropubs
11                       Spanish, Latin American, Asian Fusion

In [28]:
# Save this as a csv file

import pandas as pd

# Save the DataFrame as a CSV file
df.to_csv('C:\\Users\\affuy\\Documents\\Data_Sets\\df_Yelp.csv', index=False)