In [198]:
# imports

import pandas as pd
import requests
import os

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [199]:
# Load csv file from local machine

data = pd.read_csv('C:\\Users\\affuy\\Documents\\Data_Sets\\df_2.csv')

# View make up and structure of the file
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394 entries, 0 to 393
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    394 non-null    int64
 1   empty_slots   394 non-null    int64
 2   extra         394 non-null    object
 3   free_bikes    394 non-null    int64
 4   id            394 non-null    object
 5   latitude      394 non-null    float64
 6   longitude     394 non-null    float64
 7   name          394 non-null    object
 8   timestamp     394 non-null    object
 9   Station Name  394 non-null    object
 10  Latitude      394 non-null    float64
 11  Longitude     394 non-null    float64
 12  Total Bikes   394 non-null    int64
dtypes: float64(4), int64(4), object(5)
memory usage: 40.1+ KB

In [200]:
# View the DataFrame (It has 394 rows and 10 columns)
data.head()
# Observe it contains a column made of a nested Series object i.e 'extra'

,Unnamed: 0,empty_slots,extra,free_bikes,id,latitude,longitude,name,timestamp,Station Name,Latitude,Longitude,Total Bikes
0,0,24,"{'address': 'Calle Miguel Moya nº 1,', 'light'...",3,82e78d26829a2dc89122e8f0988e2a28,40.420589,-3.705842,2 - Miguel Moya,2023-09-07T00:06:34.970000Z,2 - Miguel Moya,40.420589,-3.705842,27
1,1,17,{'address': 'Plaza del Conde del Valle de Súch...,2,248a049595da65f6aada65476ca1f958,40.430294,-3.706917,3 - Plaza Conde Suchil,2023-09-07T00:06:35.512000Z,3 - Plaza Conde Suchil,40.430294,-3.706917,19
2,2,16,"{'address': 'Calle Hortaleza nº 63,', 'light':...",3,bb6afabc8fbc0e12d4717d6a3a3473c3,40.424148,-3.698447,6 - Colegio Arquitectos,2023-09-07T00:06:35.483000Z,6 - Colegio Arquitectos,40.424148,-3.698447,19
3,3,18,"{'address': 'Calle Hortaleza nº 75,', 'light':...",1,55a618a12ce76d28b82343f2c60d6693,40.425191,-3.697771,7 - Hortaleza,2023-09-07T00:06:34.972000Z,7 - Hortaleza,40.425191,-3.697771,19
4,4,24,"{'address': 'Plaza de San Miguel nº 9,', 'ligh...",0,5ff854ab96bd68ae3c28be05a0dab949,40.415606,-3.709508,9 - Plaza de San Miguel,2023-09-07T00:06:35.494000Z,9 - Plaza de San Miguel,40.415606,-3.709508,24

##### We have to extract the 'extra' column ond explore its contents
##### Also notice that the contents of the 'extra' column is a string representation of a dictionary and not actually a dictionary. This took me awhile to find out

In [201]:
# Extract values in the 'extra' column of our data dataframe;
import pandas as pd
import ast

def extract_extra_values(data):
    """
    Extracts all values from the 'extra' column of the dataframe (data) containing string representations
    of dictionaries as a new DataFrame.

    Args:
        data (pd.DataFrame): The input DataFrame containing the 'extra' column with string representations of dictionaries.

    Returns:
        pd.DataFrame: A new DataFrame containing the extracted values from the 'extra' column.
    """
    # Convert the string representations of dictionaries into actual dictionaries
    # We use ast.literal_eval which is a Python built-in function provided by the ast (Abstract Syntax Trees) module. 
    # It's used to safely evaluate (i.e., parse and interpret) a single expression as a Python literal 
    # (e.g., a string, number, list, dictionary, tuple, etc.) without executing any potentially harmful code
    data['extra'] = data['extra'].apply(ast.literal_eval)
    
    # Create a DataFrame from the 'extra' column
    extra_df = pd.DataFrame(data['extra'].tolist())

    return extra_df

# Example usage:
# Since 'data' is my DataFrame
extra_col_data = extract_extra_values(data)

# Display the resulting DataFrame
print(extra_col_data)

                                       address   light number  online  slots  \
0                      Calle Miguel Moya nº 1,   green      2    True     27
1    Plaza del Conde del Valle de Súchil nº 3,   green      3    True     19
2                       Calle Hortaleza nº 63,   green      6    True     19
3                       Calle Hortaleza nº 75,   green      7    True     19
4                    Plaza de San Miguel nº 9,   green      9    True     24
..                                         ...     ...    ...     ...    ...
389                            Calle del tejo,  yellow    272    True     23
390                       Calle Babilonia, 19,  yellow    559    True     23
391                          Calle Albelda, 6,     red    528    True     24
392     311 - Calle del Profesor Aranguren, 1,   green    311    True     27
393                     Calle Soto Hidalgo, 2,     red    563    True     27

      uid
0    1406
1    1407
2    1410
3    1411
4    1413
..    ...
389  2305
390  2309
391  2316
392  2320
393  2283

[394 rows x 6 columns]

In [202]:
# View the composition of the main dataframe(data) and the extracted dataframe(extra_col_data)
print(extra_col_data.info(), data.info())

# Shows same number of rows which is cool

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394 entries, 0 to 393
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   address  394 non-null    object
 1   light    394 non-null    object
 2   number   394 non-null    object
 3   online   394 non-null    bool
 4   slots    394 non-null    int64
 5   uid      394 non-null    int64
dtypes: bool(1), int64(2), object(3)
memory usage: 15.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394 entries, 0 to 393
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    394 non-null    int64
 1   empty_slots   394 non-null    int64
 2   extra         394 non-null    object
 3   free_bikes    394 non-null    int64
 4   id            394 non-null    object
 5   latitude      394 non-null    float64
 6   longitude     394 non-null    float64
 7   name          394 non-null    object
 8   timestamp     394 non-null    object
 9   Station Name  394 non-null    object
 10  Latitude      394 non-null    float64
 11  Longitude     394 non-null    float64
 12  Total Bikes   394 non-null    int64
dtypes: float64(4), int64(4), object(5)
memory usage: 40.1+ KB
None None

##### Next step is to merge the original data together with the extracted column

In [203]:
# Assuming 'data' is your original DataFrame and 'extra_col_data' is the DataFrame
# containing the extracted 'extra' column values (as shown in the previous responses)

# Concatenate the two DataFrames along the columns axis (axis=1)
merged_data = pd.concat([data, extra_col_data], axis=1)

# Display the merged DataFrame
merged_data.info() # This gives us same number of rows and 15 columns. Making progress

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394 entries, 0 to 393
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    394 non-null    int64
 1   empty_slots   394 non-null    int64
 2   extra         394 non-null    object
 3   free_bikes    394 non-null    int64
 4   id            394 non-null    object
 5   latitude      394 non-null    float64
 6   longitude     394 non-null    float64
 7   name          394 non-null    object
 8   timestamp     394 non-null    object
 9   Station Name  394 non-null    object
 10  Latitude      394 non-null    float64
 11  Longitude     394 non-null    float64
 12  Total Bikes   394 non-null    int64
 13  address       394 non-null    object
 14  light         394 non-null    object
 15  number        394 non-null    object
 16  online        394 non-null    bool
 17  slots         394 non-null    int64
 18  uid           394 non-null    int64
dtypes: bool(1), float64(4), int64(6), object(8)
memory usage: 55.9+ KB

In [204]:
# Create a new column concatenating latitude and longitude into a comma-separated string
merged_data['ll'] = merged_data['latitude'].astype(str) + ',' + merged_data['longitude'].astype(str)
merged_data.head(3) # View the dataframe with the new column 'll' added.

,Unnamed: 0,empty_slots,extra,free_bikes,id,latitude,longitude,name,timestamp,Station Name,Latitude,Longitude,Total Bikes,address,light,number,online,slots,uid,ll
0,0,24,"{'address': 'Calle Miguel Moya nº 1,', 'light'...",3,82e78d26829a2dc89122e8f0988e2a28,40.420589,-3.705842,2 - Miguel Moya,2023-09-07T00:06:34.970000Z,2 - Miguel Moya,40.420589,-3.705842,27,"Calle Miguel Moya nº 1,",green,2,True,27,1406,"40.4205886,-3.7058415"
1,1,17,{'address': 'Plaza del Conde del Valle de Súch...,2,248a049595da65f6aada65476ca1f958,40.430294,-3.706917,3 - Plaza Conde Suchil,2023-09-07T00:06:35.512000Z,3 - Plaza Conde Suchil,40.430294,-3.706917,19,"Plaza del Conde del Valle de Súchil nº 3,",green,3,True,19,1407,"40.4302937,-3.7069171"
2,2,16,"{'address': 'Calle Hortaleza nº 63,', 'light':...",3,bb6afabc8fbc0e12d4717d6a3a3473c3,40.424148,-3.698447,6 - Colegio Arquitectos,2023-09-07T00:06:35.483000Z,6 - Colegio Arquitectos,40.424148,-3.698447,19,"Calle Hortaleza nº 63,",green,6,True,19,1410,"40.424148,-3.698447"

In [205]:
# View new merged dataframe composition
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394 entries, 0 to 393
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    394 non-null    int64
 1   empty_slots   394 non-null    int64
 2   extra         394 non-null    object
 3   free_bikes    394 non-null    int64
 4   id            394 non-null    object
 5   latitude      394 non-null    float64
 6   longitude     394 non-null    float64
 7   name          394 non-null    object
 8   timestamp     394 non-null    object
 9   Station Name  394 non-null    object
 10  Latitude      394 non-null    float64
 11  Longitude     394 non-null    float64
 12  Total Bikes   394 non-null    int64
 13  address       394 non-null    object
 14  light         394 non-null    object
 15  number        394 non-null    object
 16  online        394 non-null    bool
 17  slots         394 non-null    int64
 18  uid           394 non-null    int64
 19  ll            394 non-null    object
dtypes: bool(1), float64(4), int64(6), object(9)
memory usage: 59.0+ KB

##### Next I make a copy of the new combined dataframe and with only the columns relevant to my analysis

In [206]:
# create a new dataframe with required columns
new_merged_df = merged_data[['name', 'id','latitude', 'longitude', 'Station Name', 'Total Bikes', 'number', 'slots', 'uid','ll']]
new_merged_df

,name,id,latitude,longitude,Station Name,Total Bikes,number,slots,uid,ll
0,2 - Miguel Moya,82e78d26829a2dc89122e8f0988e2a28,40.420589,-3.705842,2 - Miguel Moya,27,2,27,1406,"40.4205886,-3.7058415"
1,3 - Plaza Conde Suchil,248a049595da65f6aada65476ca1f958,40.430294,-3.706917,3 - Plaza Conde Suchil,19,3,19,1407,"40.4302937,-3.7069171"
2,6 - Colegio Arquitectos,bb6afabc8fbc0e12d4717d6a3a3473c3,40.424148,-3.698447,6 - Colegio Arquitectos,19,6,19,1410,"40.424148,-3.698447"
3,7 - Hortaleza,55a618a12ce76d28b82343f2c60d6693,40.425191,-3.697771,7 - Hortaleza,19,7,19,1411,"40.4251906,-3.6977715"
4,9 - Plaza de San Miguel,5ff854ab96bd68ae3c28be05a0dab949,40.415606,-3.709508,9 - Plaza de San Miguel,24,9,24,1413,"40.4156057,-3.7095084"
...,...,...,...,...,...,...,...,...,...,...
389,272 - Calle del tejo,d394021b285e7bf3183a483e530d9daa,40.398001,-3.678027,272 - Calle del tejo,23,272,23,2305,"40.3980005,-3.6780275"
390,"559 - Calle Babilonia, 19",2e175e4613adf44134fda53c82f326f5,40.467530,-3.588235,"559 - Calle Babilonia, 19",23,559,23,2309,"40.4675299,-3.5882347"
391,"528 - Albelda, 6",7b1d1679aa52ec836f5d709292a8d177,40.449422,-3.657367,"528 - Albelda, 6",24,528,24,2316,"40.4494225,-3.6573666"
392,"311 - Calle del Profesor Aranguren, 1",83e7f55350d04be447fa9916b2a2fa1f,40.448931,-3.730518,"311 - Calle del Profesor Aranguren, 1",27,311,27,2320,"40.4489306,-3.7305176"
393,"563 - Soto Hidalgo, 2",39afd4ff092248bf0f470e2259488719,40.460647,-3.582075,"563 - Soto Hidalgo, 2",27,563,27,2283,"40.4606465,-3.5820745"

In [207]:
# View composition of our updated dataframe with relevant columns to be used in analysis
new_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394 entries, 0 to 393
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          394 non-null    object
 1   id            394 non-null    object
 2   latitude      394 non-null    float64
 3   longitude     394 non-null    float64
 4   Station Name  394 non-null    object
 5   Total Bikes   394 non-null    int64
 6   number        394 non-null    object
 7   slots         394 non-null    int64
 8   uid           394 non-null    int64
 9   ll            394 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 30.9+ KB

#### Next we send request to FourSquare API with specifications of paramemters given in the project

In [209]:
import requests
import os
import pandas as pd

# Send request with proveided requirements

api_key = os.environ["FOURSQUARE_API_KEY"]

# Initialize an empty list to store results
results = []

# Iterate through the rows of the 'data2' DataFrame
for index, row in data2.iterrows():
    ll = row['ll']
    radius = 1000  # You can adjust the radius as needed
    categories = 13000  # You can adjust the category as needed
    limit = 10  # You can adjust the limit as needed

    url = f"https://api.foursquare.com/v3/places/search?ll={ll}&radius={radius}&categories={categories}&sort=RATING&limit={limit}"

    headers = {
        "accept": "application/json",
        "Authorization": api_key
    }

    response = requests.get(url, headers=headers)

    if response.status_code == 200:
        data2_result = response.json() #Stor result in data2_result
        results.append(data2_result)
    else:
        print(f"Failed to retrieve data for ll: {ll}. Status code: {response.status_code}")

### EDA to understand the response from the API request

In [210]:
# Send another request to explore whats in the link
url_new = 'https://api.foursquare.com/v3/places/5e149ca13a952d000805626b'
response_new = requests.get(url_new, headers=headers)
response_new.json() # View the JSON response which is a nested JSON object

{'fsq_id': '5e149ca13a952d000805626b',
 'categories': [{'id': 13049,
   'name': 'Diner',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/diner_',
    'suffix': '.png'}}],
 'chains': [],
 'geocodes': {'main': {'latitude': 40.446518, 'longitude': -3.727189}},
 'link': '/v3/places/5e149ca13a952d000805626b',
 'location': {'address': 'Calle de Carranza, 19',
  'admin_region': 'Comunidad de Madrid',
  'country': 'ES',
  'cross_street': '',
  'formatted_address': 'Calle de Carranza, 19, 28004 Madrid Madrid',
  'locality': 'Madrid',
  'postcode': '28004',
  'region': 'Madrid'},
 'name': 'Igo Waffle Fuencarral',
 'related_places': {},
 'timezone': 'Europe/Madrid'}

In [212]:
# View output of request
data2_result

# Output is similar to output of link explored above

{'results': [{'fsq_id': '5e149ca13a952d000805626b',
   'categories': [{'id': 13049,
     'name': 'Diner',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/diner_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 388,
   'geocodes': {'main': {'latitude': 40.446518, 'longitude': -3.727189}},
   'link': '/v3/places/5e149ca13a952d000805626b',
   'location': {'address': 'Calle de Carranza, 19',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': '',
    'formatted_address': 'Calle de Carranza, 19, 28004 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28004',
    'region': 'Madrid'},
   'name': 'Igo Waffle Fuencarral',
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '4bf13e8f6f8aa593fca2c23c',
   'categories': [{'id': 13065,
     'name': 'Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 649,
   'geocodes': {'main': {'latitude': 40.444758, 'longitude': -3.725214}},
   'link': '/v3/places/4bf13e8f6f8aa593fca2c23c',
   'location': {'address': 'Plaza Ramón y Cajal, s/n',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': '',
    'formatted_address': 'Plaza Ramón y Cajal, s/n, 28040 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28040',
    'region': 'Madrid'},
   'name': 'Facultad de Medicina',
   'related_places': {'parent': {'fsq_id': '4b5b2bb8f964a5205ce828e3',
     'name': 'Facultad de Medicina'}},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': 'ddaeb85f643b4c81154ff48a',
   'categories': [{'id': 13065,
     'name': 'Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
      'suffix': '.png'}},
    {'id': 13065,
     'name': 'Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 672,
   'geocodes': {'drop_off': {'latitude': 40.443417, 'longitude': -3.727186},
    'main': {'latitude': 40.443393, 'longitude': -3.727321}},
   'link': '/v3/places/ddaeb85f643b4c81154ff48a',
   'location': {'address': 'Avenida Complutense, 1',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'formatted_address': 'Avenida Complutense, 1, 28040 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28040',
    'region': 'Madrid'},
   'name': 'Faro Finisterre',
   'related_places': {}},
  {'fsq_id': '529ddb9e11d2a02e5dfccaec',
   'categories': [{'id': 13037,
     'name': 'Cafeteria',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/education/cafeteria_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 682,
   'geocodes': {'main': {'latitude': 40.451593, 'longitude': -3.737784}},
   'link': '/v3/places/529ddb9e11d2a02e5dfccaec',
   'location': {'address': 'Calle Juan del Rosal, 14',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': '',
    'formatted_address': 'Calle Juan del Rosal, 14, Madrid Madrid',
    'locality': 'Madrid',
    'region': 'Madrid'},
   'name': 'Cafetería Facultad de Educación UNED',
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '50bc9656e4b0198964a88bca',
   'categories': [{'id': 13035,
     'name': 'Coffee Shop',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 925,
   'geocodes': {'main': {'latitude': 40.446184, 'longitude': -3.740853},
    'roof': {'latitude': 40.446184, 'longitude': -3.740853}},
   'link': '/v3/places/50bc9656e4b0198964a88bca',
   'location': {'address': 'Pintor el Greco, 4',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': '',
    'formatted_address': 'Pintor el Greco, 4, Madrid Madrid',
    'locality': 'Madrid',
    'region': 'Madrid'},
   'name': 'Cafeteria Instituto del Patrimonio Cultural de España',
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '57d11afd498e864532c6a11e',
   'categories': [{'id': 13064,
     'name': 'Pizzeria',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/pizza_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 942,
   'geocodes': {'main': {'latitude': 40.444596, 'longitude': -3.720932}},
   'link': '/v3/places/57d11afd498e864532c6a11e',
   'location': {'address': 'Paseo de San Francisco de Sales, 23',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': '',
    'formatted_address': 'Paseo de San Francisco de Sales, 23, 28003 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28003',
    'region': 'Madrid'},
   'name': 'Picasso Gourmet',
   'related_places': {},
   'timezone': 'Europe/Madrid'}],
 'context': {'geo_bounds': {'circle': {'center': {'latitude': 40.4489306,
     'longitude': -3.7305176},
    'radius': 1000}}}}

In [213]:
# Convert the dictionary into a DataFrame
data2_dataframe = pd.DataFrame.from_dict(data2_result, orient='index').T

# Display the resulting DataFrame
print(data2_dataframe)
data2_dataframe.head(2)
# Observe there's no ratings key in the dictionary

                                             results     context
0  {'fsq_id': '5e149ca13a952d000805626b', 'catego...  geo_bounds
1  {'fsq_id': '4bf13e8f6f8aa593fca2c23c', 'catego...        None
2  {'fsq_id': 'ddaeb85f643b4c81154ff48a', 'catego...        None
3  {'fsq_id': '529ddb9e11d2a02e5dfccaec', 'catego...        None
4  {'fsq_id': '50bc9656e4b0198964a88bca', 'catego...        None
5  {'fsq_id': '57d11afd498e864532c6a11e', 'catego...        None

                                             results     context
0  {'fsq_id': '5e149ca13a952d000805626b', 'catego...  geo_bounds
1  {'fsq_id': '4bf13e8f6f8aa593fca2c23c', 'catego...        None

In [215]:
# SLice the dataframe and save in a new variable to further analyze the structure of the reponse
data2_dataframe['results'][0]
new_data2_dataframe = data2_dataframe['results'][0]
new_data2_dataframe
# Further deeper slicing does not reveal Rating key for this particular city

{'fsq_id': '5e149ca13a952d000805626b',
 'categories': [{'id': 13049,
   'name': 'Diner',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/diner_',
    'suffix': '.png'}}],
 'chains': [],
 'distance': 388,
 'geocodes': {'main': {'latitude': 40.446518, 'longitude': -3.727189}},
 'link': '/v3/places/5e149ca13a952d000805626b',
 'location': {'address': 'Calle de Carranza, 19',
  'admin_region': 'Comunidad de Madrid',
  'country': 'ES',
  'cross_street': '',
  'formatted_address': 'Calle de Carranza, 19, 28004 Madrid Madrid',
  'locality': 'Madrid',
  'postcode': '28004',
  'region': 'Madrid'},
 'name': 'Igo Waffle Fuencarral',
 'related_places': {},
 'timezone': 'Europe/Madrid'}

In [221]:
# Check for keys in the dictionary to determine columns of importance for us.
data2_dataframe['results'][5].keys() 
# No columns for Ratings for this City

dict_keys(['fsq_id', 'categories', 'chains', 'distance', 'geocodes', 'link', 'location', 'name', 'related_places', 'timezone'])

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [222]:
import pandas as pd

def extract_foursquare_data(data2_result):
    # Initialize empty lists to store extracted data
    fsq_ids = []
    categories = []
    distance = []
    latitude = []
    longitude = []
    address = []
    country = []
    locality = []

    for result in data2_result['results']:
        fsq_id = result.get('fsq_id', None)
        
        # Extract category names as a comma-separated string
        category_names = ', '.join([cat['name'] for cat in result['categories']]) # Use list comprehension
        
        dist = result.get('distance', None)
        lat = result['geocodes']['main']['latitude']
        lon = result['geocodes']['main']['longitude']
        addr = result.get('location', {}).get('address', None)
        cntry = result.get('location', {}).get('country', None)
        loc = result.get('location', {}).get('locality', None)
        
        # Append extracted data to respective lists
        fsq_ids.append(fsq_id)
        categories.append(category_names)
        distance.append(dist)
        latitude.append(lat)
        longitude.append(lon)
        address.append(addr)
        country.append(cntry)
        locality.append(loc)

    # Create a DataFrame from the extracted data
    data_frame = pd.DataFrame({
        'Foursquare ID': fsq_ids,
        'Categories': categories,
        'Distance': distance,
        'Latitude': latitude,
        'Longitude': longitude,
        'Address': address,
        'Country': country,
        'Locality': locality
    })
    
    return data_frame

# Example usage:
extracted_data_fs = extract_foursquare_data(data2_result)
print(extracted_data_fs)

# Here we define a function called extract_foursquare_data that extracts 
# and organizes data from a dictionary (data2_result) retrieved from the Foursquare API.

              Foursquare ID              Categories  Distance   Latitude  \
0  5e149ca13a952d000805626b                   Diner       388  40.446518
1  4bf13e8f6f8aa593fca2c23c              Restaurant       649  40.444758
2  ddaeb85f643b4c81154ff48a  Restaurant, Restaurant       672  40.443393
3  529ddb9e11d2a02e5dfccaec               Cafeteria       682  40.451593
4  50bc9656e4b0198964a88bca             Coffee Shop       925  40.446184
5  57d11afd498e864532c6a11e                Pizzeria       942  40.444596

   Longitude                              Address Country Locality
0  -3.727189                Calle de Carranza, 19      ES   Madrid
1  -3.725214             Plaza Ramón y Cajal, s/n      ES   Madrid
2  -3.727321               Avenida Complutense, 1      ES   Madrid
3  -3.737784             Calle Juan del Rosal, 14      ES   Madrid
4  -3.740853                   Pintor el Greco, 4      ES   Madrid
5  -3.720932  Paseo de San Francisco de Sales, 23      ES   Madrid

Put your parsed results into a DataFrame

In [224]:
# Create a DataFrame from the extracted data
extracted_data_fs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Foursquare ID  6 non-null      object
 1   Categories     6 non-null      object
 2   Distance       6 non-null      int64
 3   Latitude       6 non-null      float64
 4   Longitude      6 non-null      float64
 5   Address        6 non-null      object
 6   Country        6 non-null      object
 7   Locality       6 non-null      object
dtypes: float64(2), int64(1), object(5)
memory usage: 512.0+ bytes

In [225]:
# Save this as a csv file

import pandas as pd

# Save the DataFrame as a CSV file
extracted_data_fs.to_csv('C:\\Users\\affuy\\Documents\\Data_Sets\\df_foursquare.csv', index=False)

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

#### Repeat same steps for FourSquare with Yelp

In [226]:
import requests
import os
import pandas as pd

# Assuming you have the 'data2' DataFrame with 'latitude' and 'longitude' columns

yelp_api_key = os.environ["YELP_API_KEY"]

# Initialize an empty list to store results
yelp_results = []

# Iterate through the rows of the 'data2' DataFrame
for index, row in data2.iterrows():
    latitude = row['latitude']
    longitude = row['longitude']
    radius = 1000  # You can adjust the radius as needed
    categories = "restaurants"  # You can adjust the category as needed
    limit = 10  # You can adjust the limit as needed

    url = f"https://api.yelp.com/v3/businesses/search"

    params = {
        "latitude": latitude,
        "longitude": longitude,
        "radius": radius,
        "categories": categories,
        "limit": limit
    }

    headers = {
        "Authorization": f"Bearer {yelp_api_key}"
    }

    response = requests.get(url, params=params, headers=headers)

    if response.status_code == 200:
        yelp_data = response.json()
        yelp_results.append(yelp_data)
    else:
        print(f"Failed to retrieve data for latitude: {latitude}, longitude: {longitude}. Status code: {response.status_code}")

# Process and extract relevant information from 'yelp_results' as needed
# You can follow a similar approach as in the previous Foursquare example

Failed to retrieve data for latitude: 40.4284457, longitude: -3.7022669. Status code: 429
Failed to retrieve data for latitude: 40.4250963, longitude: -3.691769. Status code: 429
Failed to retrieve data for latitude: 40.427, longitude: -3.7036. Status code: 429
Failed to retrieve data for latitude: 40.4284667, longitude: -3.7061406. Status code: 429
Failed to retrieve data for latitude: 40.4273, longitude: -3.7105. Status code: 429
Failed to retrieve data for latitude: 40.4260425, longitude: -3.7133069. Status code: 429
Failed to retrieve data for latitude: 40.4229374, longitude: -3.7074808485065. Status code: 429
Failed to retrieve data for latitude: 40.4209251, longitude: -3.6996776. Status code: 429
Failed to retrieve data for latitude: 40.4188076, longitude: -3.6952465. Status code: 429
Failed to retrieve data for latitude: 40.4173687, longitude: -3.7058976. Status code: 429
Failed to retrieve data for latitude: 40.4239, longitude: -3.6945. Status code: 429
Failed to retrieve data for latitude: 40.4133, longitude: -3.6957. Status code: 429
Failed to retrieve data for latitude: 40.4163838, longitude: -3.6957434. Status code: 429
Failed to retrieve data for latitude: 40.4165873, longitude: -3.7033305. Status code: 429
Failed to retrieve data for latitude: 40.4113586, longitude: -3.7115898. Status code: 429
Failed to retrieve data for latitude: 40.4108488, longitude: -3.6982922. Status code: 429
Failed to retrieve data for latitude: 40.4068659, longitude: -3.7111034. Status code: 429
Failed to retrieve data for latitude: 40.4060533, longitude: -3.6992774. Status code: 429
Failed to retrieve data for latitude: 40.4265518, longitude: -3.7003474. Status code: 429
Failed to retrieve data for latitude: 40.4222783, longitude: -3.6978583. Status code: 429
Failed to retrieve data for latitude: 40.4214551, longitude: -3.6753139. Status code: 429
Failed to retrieve data for latitude: 40.4127692, longitude: -3.6913232. Status code: 429
Failed to retrieve data for latitude: 40.41538238557472, longitude: -3.677872542327878. Status code: 429
Failed to retrieve data for latitude: 40.4161, longitude: -3.6739. Status code: 429
Failed to retrieve data for latitude: 40.4159, longitude: -3.6696. Status code: 429
Failed to retrieve data for latitude: 40.4115, longitude: -3.6687. Status code: 429
Failed to retrieve data for latitude: 40.41206290978386, longitude: -3.676588763788984. Status code: 429
Failed to retrieve data for latitude: 40.4082717, longitude: -3.6784749. Status code: 429
Failed to retrieve data for latitude: 40.4050319, longitude: -3.6803455. Status code: 429
Failed to retrieve data for latitude: 40.4132995, longitude: -3.6744795. Status code: 429
Failed to retrieve data for latitude: 40.40357156992851, longitude: -3.672481575393678. Status code: 429
Failed to retrieve data for latitude: 40.4213143, longitude: -3.679891. Status code: 429
Failed to retrieve data for latitude: 40.4251493, longitude: -3.6838416. Status code: 429
Failed to retrieve data for latitude: 40.426049, longitude: -3.6786285. Status code: 429
Failed to retrieve data for latitude: 40.42575853342561, longitude: -3.6893361690338167. Status code: 429
Failed to retrieve data for latitude: 40.4225428, longitude: -3.6869293. Status code: 429
Failed to retrieve data for latitude: 40.4222316, longitude: -3.6819634. Status code: 429
Failed to retrieve data for latitude: 40.4225364, longitude: -3.6802556. Status code: 429
Failed to retrieve data for latitude: 40.4241325, longitude: -3.6757676. Status code: 429
Failed to retrieve data for latitude: 40.4230771, longitude: -3.6696804. Status code: 429
Failed to retrieve data for latitude: 40.4211845, longitude: -3.6842317. Status code: 429
Failed to retrieve data for latitude: 40.4304, longitude: -3.6867. Status code: 429
Failed to retrieve data for latitude: 40.4270832, longitude: -3.6875418. Status code: 429
Failed to retrieve data for latitude: 40.424776, longitude: -3.68789. Status code: 429
Failed to retrieve data for latitude: 40.421778, longitude: -3.68825. Status code: 429
Failed to retrieve data for latitude: 40.427214, longitude: -3.67051. Status code: 429
Failed to retrieve data for latitude: 40.4301245, longitude: -3.6814521. Status code: 429
Failed to retrieve data for latitude: 40.434745, longitude: -3.7201021. Status code: 429
Failed to retrieve data for latitude: 40.4326901, longitude: -3.724736. Status code: 429
Failed to retrieve data for latitude: 40.4278379, longitude: -3.7174631. Status code: 429
Failed to retrieve data for latitude: 40.42531476841791, longitude: -3.717051505522537. Status code: 429
Failed to retrieve data for latitude: 40.4012905, longitude: -3.6862653. Status code: 429
Failed to retrieve data for latitude: 40.40309045143061, longitude: -3.694825101852421. Status code: 429
Failed to retrieve data for latitude: 40.4017487, longitude: -3.6986027. Status code: 429
Failed to retrieve data for latitude: 40.430969, longitude: -3.6993695. Status code: 429
Failed to retrieve data for latitude: 40.4353, longitude: -3.6948. Status code: 429
Failed to retrieve data for latitude: 40.4345976, longitude: -3.7018044. Status code: 429
Failed to retrieve data for latitude: 40.4392, longitude: -3.7154. Status code: 429
Failed to retrieve data for latitude: 40.4411852, longitude: -3.6929857. Status code: 429
Failed to retrieve data for latitude: 40.4451244, longitude: -3.690769. Status code: 429
Failed to retrieve data for latitude: 40.4457656, longitude: -3.6852485. Status code: 429
Failed to retrieve data for latitude: 40.43902, longitude: -3.6909933. Status code: 429
Failed to retrieve data for latitude: 40.4387566, longitude: -3.6830583. Status code: 429
Failed to retrieve data for latitude: 40.4354047, longitude: -3.6893917. Status code: 429
Failed to retrieve data for latitude: 40.4324081, longitude: -3.675556. Status code: 429
Failed to retrieve data for latitude: 40.4442541, longitude: -3.6788499. Status code: 429
Failed to retrieve data for latitude: 40.4484, longitude: -3.6794. Status code: 429
Failed to retrieve data for latitude: 40.451117, longitude: -3.6813971. Status code: 429
Failed to retrieve data for latitude: 40.4498515, longitude: -3.6879303. Status code: 429
Failed to retrieve data for latitude: 40.44881224951987, longitude: -3.6953592650123657. Status code: 429
Failed to retrieve data for latitude: 40.4525, longitude: -3.6989. Status code: 429
Failed to retrieve data for latitude: 40.4523, longitude: -3.6936. Status code: 429
Failed to retrieve data for latitude: 40.4573342300643, longitude: -3.700930190178302. Status code: 429
Failed to retrieve data for latitude: 40.4586678, longitude: -3.6846153. Status code: 429
Failed to retrieve data for latitude: 40.4034968, longitude: -3.7105765. Status code: 429
Failed to retrieve data for latitude: 40.39723, longitude: -3.69461. Status code: 429
Failed to retrieve data for latitude: 40.392888, longitude: -3.697596. Status code: 429
Failed to retrieve data for latitude: 40.4046, longitude: -3.6959. Status code: 429
Failed to retrieve data for latitude: 40.40118908, longitude: -3.7136161. Status code: 429
Failed to retrieve data for latitude: 40.4010554, longitude: -3.7043956. Status code: 429
Failed to retrieve data for latitude: 40.3997013, longitude: -3.6984023. Status code: 429
Failed to retrieve data for latitude: 40.4008279, longitude: -3.6934926. Status code: 429
Failed to retrieve data for latitude: 40.3983467, longitude: -3.7024839. Status code: 429
Failed to retrieve data for latitude: 40.39742958306358, longitude: -3.70652588465576. Status code: 429
Failed to retrieve data for latitude: 40.3962264, longitude: -3.69834452. Status code: 429
Failed to retrieve data for latitude: 40.391447085678806, longitude: -3.6941876374343896. Status code: 429
Failed to retrieve data for latitude: 40.3940423, longitude: -3.67589. Status code: 429
Failed to retrieve data for latitude: 40.41816932665331, longitude: -3.676443540475469. Status code: 429
Failed to retrieve data for latitude: 40.434676, longitude: -3.6780802. Status code: 429
Failed to retrieve data for latitude: 40.4343053, longitude: -3.6833753. Status code: 429
Failed to retrieve data for latitude: 40.434569387142616, longitude: -3.67407778406144. Status code: 429
Failed to retrieve data for latitude: 40.43182646446866, longitude: -3.671467718385311. Status code: 429
Failed to retrieve data for latitude: 40.4442237, longitude: -3.6752218. Status code: 429
Failed to retrieve data for latitude: 40.4516059, longitude: -3.677916. Status code: 429
Failed to retrieve data for latitude: 40.432, longitude: -3.6891. Status code: 429
Failed to retrieve data for latitude: 40.4413, longitude: -3.7083. Status code: 429
Failed to retrieve data for latitude: 40.4476488, longitude: -3.7040397. Status code: 429
Failed to retrieve data for latitude: 40.4613181, longitude: -3.6992052. Status code: 429
Failed to retrieve data for latitude: 40.4630443, longitude: -3.6973352. Status code: 429
Failed to retrieve data for latitude: 40.4662811, longitude: -3.6890611. Status code: 429
Failed to retrieve data for latitude: 40.4657, longitude: -3.6887. Status code: 429
Failed to retrieve data for latitude: 40.4196518, longitude: -3.7027164. Status code: 429
Failed to retrieve data for latitude: 40.3889918, longitude: -3.7002247. Status code: 429
Failed to retrieve data for latitude: 40.4561825, longitude: -3.6932611. Status code: 429
Failed to retrieve data for latitude: 40.4406491, longitude: -3.6858096. Status code: 429
Failed to retrieve data for latitude: 40.38707469, longitude: -3.7061449. Status code: 429
Failed to retrieve data for latitude: 40.37837955, longitude: -3.70041478. Status code: 429
Failed to retrieve data for latitude: 40.36721104, longitude: -3.70388671. Status code: 429
Failed to retrieve data for latitude: 40.38272256, longitude: -3.70773972. Status code: 429
Failed to retrieve data for latitude: 40.3700018, longitude: -3.69397301. Status code: 429
Failed to retrieve data for latitude: 40.37347443, longitude: -3.71331521. Status code: 429
Failed to retrieve data for latitude: 40.453493, longitude: -3.662016. Status code: 429
Failed to retrieve data for latitude: 40.438278, longitude: -3.638904. Status code: 429
Failed to retrieve data for latitude: 40.44152084, longitude: -3.6410572. Status code: 429
Failed to retrieve data for latitude: 40.45478362295884, longitude: -3.6558371312827975. Status code: 429
Failed to retrieve data for latitude: 40.45903315, longitude: -3.66044255. Status code: 429
Failed to retrieve data for latitude: 40.45117857, longitude: -3.65219063. Status code: 429
Failed to retrieve data for latitude: 40.453, longitude: -3.5941. Status code: 429
Failed to retrieve data for latitude: 40.47359387888925, longitude: -3.6757900294303902. Status code: 429
Failed to retrieve data for latitude: 40.4359, longitude: -3.6424. Status code: 429
Failed to retrieve data for latitude: 40.4297428, longitude: -3.6534324. Status code: 429
Failed to retrieve data for latitude: 40.42893071, longitude: -3.632389. Status code: 429
Failed to retrieve data for latitude: 40.4628701, longitude: -3.65089253. Status code: 429
Failed to retrieve data for latitude: 40.4631, longitude: -3.6706. Status code: 429
Failed to retrieve data for latitude: 40.4679, longitude: -3.6779. Status code: 429
Failed to retrieve data for latitude: 40.4765, longitude: -3.6762. Status code: 429
Failed to retrieve data for latitude: 40.4664, longitude: -3.6723. Status code: 429
Failed to retrieve data for latitude: 40.4673, longitude: -3.6543. Status code: 429
Failed to retrieve data for latitude: 40.4070216, longitude: -3.63192261. Status code: 429
Failed to retrieve data for latitude: 40.400094, longitude: -3.62927465. Status code: 429
Failed to retrieve data for latitude: 40.4005, longitude: -3.6464. Status code: 429
Failed to retrieve data for latitude: 40.38875618103898, longitude: -3.6459739361763055. Status code: 429
Failed to retrieve data for latitude: 40.37873799, longitude: -3.66217563. Status code: 429
Failed to retrieve data for latitude: 40.3864, longitude: -3.6675. Status code: 429
Failed to retrieve data for latitude: 40.4384695, longitude: -3.6194333. Status code: 429
Failed to retrieve data for latitude: 40.4191, longitude: -3.6242. Status code: 429
Failed to retrieve data for latitude: 40.44313349999999, longitude: -3.6178317. Status code: 429
Failed to retrieve data for latitude: 40.4466561, longitude: -3.6121996. Status code: 429
Failed to retrieve data for latitude: 40.445, longitude: -3.5895. Status code: 429
Failed to retrieve data for latitude: 40.4407, longitude: -3.6274. Status code: 429
Failed to retrieve data for latitude: 40.385404, longitude: -3.688529. Status code: 429
Failed to retrieve data for latitude: 40.3950918, longitude: -3.721173399999999. Status code: 429
Failed to retrieve data for latitude: 40.3947, longitude: -3.7315. Status code: 429
Failed to retrieve data for latitude: 40.3831, longitude: -3.7032. Status code: 429
Failed to retrieve data for latitude: 40.3773, longitude: -3.7159. Status code: 429
Failed to retrieve data for latitude: 40.45476837, longitude: -3.59812171. Status code: 429
Failed to retrieve data for latitude: 40.4293263, longitude: -3.6464629. Status code: 429
Failed to retrieve data for latitude: 40.4815, longitude: -3.6938. Status code: 429
Failed to retrieve data for latitude: 40.4481, longitude: -3.6972. Status code: 429
Failed to retrieve data for latitude: 40.469477, longitude: -3.696862. Status code: 429
Failed to retrieve data for latitude: 40.4655, longitude: -3.69511298. Status code: 429
Failed to retrieve data for latitude: 40.3984, longitude: -3.7359. Status code: 429
Failed to retrieve data for latitude: 40.40457132475174, longitude: -3.745096152114864. Status code: 429
Failed to retrieve data for latitude: 40.4026, longitude: -3.6419. Status code: 429
Failed to retrieve data for latitude: 40.38078101, longitude: -3.63648424. Status code: 429
Failed to retrieve data for latitude: 40.4637825, longitude: -3.7045684. Status code: 429
Failed to retrieve data for latitude: 40.38135158, longitude: -3.62376457. Status code: 429
Failed to retrieve data for latitude: 40.39162261454714, longitude: -3.72745169. Status code: 429
Failed to retrieve data for latitude: 40.42466356, longitude: -3.63949891. Status code: 429
Failed to retrieve data for latitude: 40.408, longitude: -3.7351. Status code: 429
Failed to retrieve data for latitude: 40.3762374, longitude: -3.655868. Status code: 429
Failed to retrieve data for latitude: 40.3587, longitude: -3.6895. Status code: 429
Failed to retrieve data for latitude: 40.4795, longitude: -3.6965. Status code: 429
Failed to retrieve data for latitude: 40.46962735, longitude: -3.71527245. Status code: 429
Failed to retrieve data for latitude: 40.40240379, longitude: -3.6102747. Status code: 429
Failed to retrieve data for latitude: 40.39017003, longitude: -3.6705179. Status code: 429
Failed to retrieve data for latitude: 40.38138801, longitude: -3.66855013. Status code: 429
Failed to retrieve data for latitude: 40.40003472, longitude: -3.65381017. Status code: 429
Failed to retrieve data for latitude: 40.3952121, longitude: -3.64932678. Status code: 429
Failed to retrieve data for latitude: 40.3914244, longitude: -3.64148304. Status code: 429
Failed to retrieve data for latitude: 40.3919, longitude: -3.6571. Status code: 429
Failed to retrieve data for latitude: 40.3853787, longitude: -3.7117979. Status code: 429
Failed to retrieve data for latitude: 40.47675257, longitude: -3.67144504. Status code: 429
Failed to retrieve data for latitude: 40.42427523, longitude: -3.62888094. Status code: 429
Failed to retrieve data for latitude: 40.42657032, longitude: -3.65796439. Status code: 429
Failed to retrieve data for latitude: 40.47675499, longitude: -3.66269029. Status code: 429
Failed to retrieve data for latitude: 40.42309928573645, longitude: -3.623466935545257. Status code: 429
Failed to retrieve data for latitude: 40.43209033, longitude: -3.62650373. Status code: 429
Failed to retrieve data for latitude: 40.3959431, longitude: -3.71605423. Status code: 429
Failed to retrieve data for latitude: 40.39251608002938, longitude: -3.722217570475459. Status code: 429
Failed to retrieve data for latitude: 40.40937950320982, longitude: -3.739615781020349. Status code: 429
Failed to retrieve data for latitude: 40.40741199, longitude: -3.74726153. Status code: 429
Failed to retrieve data for latitude: 40.40991083, longitude: -3.65256604. Status code: 429
Failed to retrieve data for latitude: 40.40750626, longitude: -3.66000272. Status code: 429
Failed to retrieve data for latitude: 40.4099, longitude: -3.6408. Status code: 429
Failed to retrieve data for latitude: 40.38937686, longitude: -3.72364769. Status code: 429
Failed to retrieve data for latitude: 40.47810429, longitude: -3.70997335. Status code: 429
Failed to retrieve data for latitude: 40.47772776, longitude: -3.69962571. Status code: 429
Failed to retrieve data for latitude: 40.47817, longitude: -3.703526. Status code: 429
Failed to retrieve data for latitude: 40.44845033, longitude: -3.59650295. Status code: 429
Failed to retrieve data for latitude: 40.46204955, longitude: -3.69193246. Status code: 429
Failed to retrieve data for latitude: 40.36997711, longitude: -3.70760649. Status code: 429
Failed to retrieve data for latitude: 40.36672327, longitude: -3.68765805. Status code: 429
Failed to retrieve data for latitude: 40.36809336, longitude: -3.69838038. Status code: 429
Failed to retrieve data for latitude: 40.356536, longitude: -3.693901. Status code: 429
Failed to retrieve data for latitude: 40.38500948, longitude: -3.64178999. Status code: 429
Failed to retrieve data for latitude: 40.47250314, longitude: -3.65926884. Status code: 429
Failed to retrieve data for latitude: 40.45754368, longitude: -3.64441924. Status code: 429
Failed to retrieve data for latitude: 40.3969, longitude: -3.6634. Status code: 429
Failed to retrieve data for latitude: 40.3895, longitude: -3.6635. Status code: 429
Failed to retrieve data for latitude: 40.38862908, longitude: -3.69328771. Status code: 429
Failed to retrieve data for latitude: 40.38161669, longitude: -3.65076037. Status code: 429
Failed to retrieve data for latitude: 40.38191654, longitude: -3.63219372. Status code: 429
Failed to retrieve data for latitude: 40.43145558, longitude: -3.62306578. Status code: 429
Failed to retrieve data for latitude: 40.38902883, longitude: -3.63953994. Status code: 429
Failed to retrieve data for latitude: 40.409247, longitude: -3.612392. Status code: 429
Failed to retrieve data for latitude: 40.36064659, longitude: -3.69399661. Status code: 429
Failed to retrieve data for latitude: 40.47899993, longitude: -3.70566914. Status code: 429
Failed to retrieve data for latitude: 40.462138, longitude: -3.708082. Status code: 429
Failed to retrieve data for latitude: 40.3929901, longitude: -3.7363397. Status code: 429
Failed to retrieve data for latitude: 40.38600753, longitude: -3.60948153. Status code: 429
Failed to retrieve data for latitude: 40.424924, longitude: -3.687807. Status code: 429
Failed to retrieve data for latitude: 40.46772408, longitude: -3.66340634. Status code: 429
Failed to retrieve data for latitude: 40.40323821, longitude: -3.7521352. Status code: 429
Failed to retrieve data for latitude: 40.38550735, longitude: -3.72378064. Status code: 429
Failed to retrieve data for latitude: 40.44175279, longitude: -3.61190481. Status code: 429
Failed to retrieve data for latitude: 40.4445655, longitude: -3.6353383. Status code: 429
Failed to retrieve data for latitude: 40.4054815, longitude: -3.7020566. Status code: 429
Failed to retrieve data for latitude: 40.3979273, longitude: -3.6692724. Status code: 429
Failed to retrieve data for latitude: 40.4436792, longitude: -3.6488254. Status code: 429

In [190]:
yelp_data

{'businesses': [{'id': 'Vc4RIVJO1H3fEVSxKhEyIQ',
   'alias': 'cafetería-facultad-farmacia-madrid-2',
   'name': 'Cafetería Facultad Farmacia',
   'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/1WMLi0vxdTX8QSdWLY_pBQ/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/cafeter%C3%ADa-facultad-farmacia-madrid-2?adjust_creative=HtGBEqBv3zF4YDHhPbDfHg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=HtGBEqBv3zF4YDHhPbDfHg',
   'review_count': 2,
   'categories': [{'alias': 'cafeteria', 'title': 'Cafeteria'}],
   'rating': 3.5,
   'coordinates': {'latitude': 40.445423556744,
    'longitude': -3.72487552464008},
   'transactions': [],
   'price': '€',
   'location': {'address1': 'Plaza Ramón y Cajal, s/n',
    'address2': '',
    'address3': '',
    'city': 'Madrid',
    'zip_code': '28040',
    'country': 'ES',
    'state': 'M',
    'display_address': ['Plaza Ramón y Cajal, s/n', '28040 Madrid', 'Spain']},
   'phone': '+34913941734',
   'display_phone': '+34 913 94 17 34',
   'distance': 616.451917392791},
  {'id': 'eQb3XqyhyuhFjeJWVZXIVw',
   'alias': 'cafetería-de-la-facultad-de-ciencias-de-la-información-madrid',
   'name': 'Cafetería de la Facultad de Ciencias de la Información',
   'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/XvvN2oh8OTmymoU5INz3Mg/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/cafeter%C3%ADa-de-la-facultad-de-ciencias-de-la-informaci%C3%B3n-madrid?adjust_creative=HtGBEqBv3zF4YDHhPbDfHg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=HtGBEqBv3zF4YDHhPbDfHg',
   'review_count': 1,
   'categories': [{'alias': 'cafeteria', 'title': 'Cafeteria'}],
   'rating': 4.0,
   'coordinates': {'latitude': 40.4459555491884,
    'longitude': -3.72811395674944},
   'transactions': [],
   'location': {'address1': 'Avenida Complutense, S/N',
    'address2': '',
    'address3': '',
    'city': 'Madrid',
    'zip_code': '28040',
    'country': 'ES',
    'state': 'M',
    'display_address': ['Avenida Complutense, S/N', '28040 Madrid', 'Spain']},
   'phone': '',
   'display_phone': '',
   'distance': 388.33599526245183},
  {'id': 'BRA1z3dUr3mydVH3GGGmdQ',
   'alias': 'cafetería-facultad-de-odontologia-madrid',
   'name': 'Cafetería Facultad de Odontologia',
   'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/vWDvl-bSC2crqPzOkQhj7g/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/cafeter%C3%ADa-facultad-de-odontologia-madrid?adjust_creative=HtGBEqBv3zF4YDHhPbDfHg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=HtGBEqBv3zF4YDHhPbDfHg',
   'review_count': 2,
   'categories': [{'alias': 'coffee', 'title': 'Coffee & Tea'}],
   'rating': 5.0,
   'coordinates': {'latitude': 40.4426762535961,
    'longitude': -3.7258655215993},
   'transactions': [],
   'price': '€',
   'location': {'address1': 'Avenida Complutense',
    'address2': '',
    'address3': '',
    'city': 'Madrid',
    'zip_code': '28040',
    'country': 'ES',
    'state': 'M',
    'display_address': ['Avenida Complutense', '28040 Madrid', 'Spain']},
   'phone': '',
   'display_phone': '',
   'distance': 799.1398549876889},
  {'id': 'ihZ_5G2_q0-QpDHZO0bJBw',
   'alias': 'cafetería-de-la-facultad-de-filosofía-ucm-madrid-2',
   'name': 'Cafetería de la Facultad de Filosofía UCM',
   'image_url': '',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/cafeter%C3%ADa-de-la-facultad-de-filosof%C3%ADa-ucm-madrid-2?adjust_creative=HtGBEqBv3zF4YDHhPbDfHg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=HtGBEqBv3zF4YDHhPbDfHg',
   'review_count': 3,
   'categories': [{'alias': 'cafeteria', 'title': 'Cafeteria'},
    {'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'}],
   'rating': 3.5,
   'coordinates': {'latitude': 40.44541, 'longitude': -3.73983},
   'transactions': [],
   'location': {'address1': 'Ciudad Universitaria',
    'address2': 'Carretera M-30',
    'address3': '',
    'city': 'Madrid',
    'zip_code': '28040',
    'country': 'ES',
    'state': 'M',
    'display_address': ['Ciudad Universitaria',
     'Carretera M-30',
     '28040 Madrid',
     'Spain']},
   'phone': '+34915448998',
   'display_phone': '+34 915 44 89 98',
   'distance': 692.0053725418055},
  {'id': 'F-yMUss08kAYNMFQ5pzvFw',
   'alias': 'metrocoffee-madrid-2',
   'name': 'Metrocoffee',
   'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/t_qHFu2LRwyXN8KbbZRRWQ/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/metrocoffee-madrid-2?adjust_creative=HtGBEqBv3zF4YDHhPbDfHg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=HtGBEqBv3zF4YDHhPbDfHg',
   'review_count': 1,
   'categories': [{'alias': 'coffee', 'title': 'Coffee & Tea'},
    {'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'}],
   'rating': 4.0,
   'coordinates': {'latitude': 40.4438465047558, 'longitude': -3.726138027646},
   'transactions': [],
   'price': '€',
   'location': {'address1': 'Avenida Complutense, s/n',
    'address2': '',
    'address3': '',
    'city': 'Madrid',
    'zip_code': '28040',
    'country': 'ES',
    'state': 'M',
    'display_address': ['Avenida Complutense, s/n', '28040 Madrid', 'Spain']},
   'phone': '+34915494794',
   'display_phone': '+34 915 49 47 94',
   'distance': 675.9723400501939},
  {'id': '2kF_1PF3OUAwDKYQjEw64A',
   'alias': 'cafeteria-etsit-madrid',
   'name': 'Cafeteria Etsit',
   'image_url': '',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/cafeteria-etsit-madrid?adjust_creative=HtGBEqBv3zF4YDHhPbDfHg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=HtGBEqBv3zF4YDHhPbDfHg',
   'review_count': 1,
   'categories': [{'alias': 'coffee', 'title': 'Coffee & Tea'}],
   'rating': 3.0,
   'coordinates': {'latitude': 40.44715, 'longitude': -3.73065},
   'transactions': [],
   'location': {'address1': None,
    'address2': 'Ciudad Universitaria',
    'address3': '',
    'city': 'Madrid',
    'zip_code': '',
    'country': 'ES',
    'state': 'M',
    'display_address': ['Ciudad Universitaria', 'Madrid', 'Spain']},
   'phone': '',
   'display_phone': '',
   'distance': 1054.3633306609456},
  {'id': '81FxHLD2sbLP_HPaG2XiJA',
   'alias': 'donde-siempre-madrid',
   'name': 'Donde Siempre',
   'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/zwajMBcIXPN4hA-pTnby8w/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/donde-siempre-madrid?adjust_creative=HtGBEqBv3zF4YDHhPbDfHg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=HtGBEqBv3zF4YDHhPbDfHg',
   'review_count': 1,
   'categories': [{'alias': 'latin', 'title': 'Latin American'}],
   'rating': 1.0,
   'coordinates': {'latitude': 40.38746, 'longitude': -3.66816},
   'transactions': [],
   'location': {'address1': 'Calle de la Sierra de Molina, 31',
    'address2': '',
    'address3': '',
    'city': 'Madrid',
    'zip_code': '28053',
    'country': 'ES',
    'state': 'M',
    'display_address': ['Calle de la Sierra de Molina, 31',
     '28053 Madrid',
     'Spain']},
   'phone': '+34914776350',
   'display_phone': '+34 914 77 63 50',
   'distance': 1051.327422835938},
  {'id': '0CchsiR66o0mpb5EdrNdpA',
   'alias': 'ufarte-madrid',
   'name': 'Ufarte',
   'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/HBbn-bXeMe1tUBzKgCyDUg/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/ufarte-madrid?adjust_creative=HtGBEqBv3zF4YDHhPbDfHg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=HtGBEqBv3zF4YDHhPbDfHg',
   'review_count': 1,
   'categories': [{'alias': 'tapas', 'title': 'Tapas Bars'}],
   'rating': 2.0,
   'coordinates': {'latitude': 40.38874, 'longitude': -3.66684},
   'transactions': [],
   'location': {'address1': 'Calle de la Sierra de Molina, 7',
    'address2': '',
    'address3': '',
    'city': 'Madrid',
    'zip_code': '28053',
    'country': 'ES',
    'state': 'M',
    'display_address': ['Calle de la Sierra de Molina, 7',
     '28053 Madrid',
     'Spain']},
   'phone': '+34914788072',
   'display_phone': '+34 914 78 80 72',
   'distance': 1051.327422835938}],
 'total': 8,
 'region': {'center': {'longitude': -3.7305176, 'latitude': 40.4489306}}}

In [191]:
print(type(yelp_data))

<class 'dict'>

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [192]:
import pandas as pd

def extract_yelp_data(yelp_data):
    # Initialize empty lists to store extracted data
    yelp_ids = []
    categories = []
    distance = []
    latitude = []
    longitude = []
    address = []
    city = []
    name = []
    rating = []

    businesses = yelp_data.get('businesses', [])

    if not businesses:
        print("No businesses found in the input data.")
        return None

    for business in businesses:
        yelp_id = business.get('id', None)
        category_names = ', '.join([cat['title'] for cat in business.get('categories', [])])
        dist = business.get('distance', None)
        lat = business['coordinates']['latitude']
        lon = business['coordinates']['longitude']
        addr = ', '.join(business.get('location', {}).get('display_address', []))
        city_name = business.get('location', {}).get('city', None)
        business_name = business.get('name', None)
        business_rating = business.get('rating', None)

        # Append extracted data to respective lists
        yelp_ids.append(yelp_id)
        categories.append(category_names)
        distance.append(dist)
        latitude.append(lat)
        longitude.append(lon)
        address.append(addr)
        city.append(city_name)
        name.append(business_name)
        rating.append(business_rating)

    # Create a DataFrame from the extracted data
    data_frame = pd.DataFrame({
        'Yelp ID': yelp_ids,
        'Categories': categories,
        'Distance': distance,
        'Latitude': latitude,
        'Longitude': longitude,
        'Address': address,
        'City': city,
        'Name': name,
        'Rating': rating
    })

    return data_frame

# Example usage:
extracted_data_yelp = extract_yelp_data(yelp_data)
if extracted_data_yelp is not None:
    print(extracted_data_yelp)

                  Yelp ID                        Categories     Distance  \
0  Vc4RIVJO1H3fEVSxKhEyIQ                         Cafeteria   616.451917
1  eQb3XqyhyuhFjeJWVZXIVw                         Cafeteria   388.335995
2  BRA1z3dUr3mydVH3GGGmdQ                      Coffee & Tea   799.139855
3  ihZ_5G2_q0-QpDHZO0bJBw     Cafeteria, Breakfast & Brunch   692.005373
4  F-yMUss08kAYNMFQ5pzvFw  Coffee & Tea, Breakfast & Brunch   675.972340
5  2kF_1PF3OUAwDKYQjEw64A                      Coffee & Tea  1054.363331
6  81FxHLD2sbLP_HPaG2XiJA                    Latin American  1051.327423
7  0CchsiR66o0mpb5EdrNdpA                        Tapas Bars  1051.327423

    Latitude  Longitude                                            Address  \
0  40.445424  -3.724876      Plaza Ramón y Cajal, s/n, 28040 Madrid, Spain
1  40.445956  -3.728114      Avenida Complutense, S/N, 28040 Madrid, Spain
2  40.442676  -3.725866           Avenida Complutense, 28040 Madrid, Spain
3  40.445410  -3.739830  Ciudad Universitaria, Carretera M-30, 28040 Ma...
4  40.443847  -3.726138      Avenida Complutense, s/n, 28040 Madrid, Spain
5  40.447150  -3.730650                Ciudad Universitaria, Madrid, Spain
6  40.387460  -3.668160  Calle de la Sierra de Molina, 31, 28053 Madrid...
7  40.388740  -3.666840  Calle de la Sierra de Molina, 7, 28053 Madrid,...

     City                                               Name  Rating
0  Madrid                        Cafetería Facultad Farmacia     3.5
1  Madrid  Cafetería de la Facultad de Ciencias de la Inf...     4.0
2  Madrid                  Cafetería Facultad de Odontologia     5.0
3  Madrid          Cafetería de la Facultad de Filosofía UCM     3.5
4  Madrid                                        Metrocoffee     4.0
5  Madrid                                    Cafeteria Etsit     3.0
6  Madrid                                      Donde Siempre     1.0
7  Madrid                                             Ufarte     2.0

In [193]:
import pandas as pd

def extract_yelp_data(yelp_data):
    # Initialize empty lists to store extracted data
    yelp_ids = []
    categories = []
    distance = []
    latitude = []
    longitude = []
    address = []
    city = []
    name = []
    rating = []

    for business in yelp_data.get('businesses', []):
        yelp_id = business['id']
        category_names = ', '.join([cat['title'] for cat in business.get('categories', [])])
        dist = business.get('distance', None)
        lat = business['coordinates']['latitude']
        lon = business['coordinates']['longitude']
        addr = ', '.join(business.get('location', {}).get('display_address', []))
        city_name = business.get('location', {}).get('city', None)
        business_name = business.get('name', None)
        business_rating = business.get('rating', None)

        # Append extracted data to respective lists
        yelp_ids.append(yelp_id)
        categories.append(category_names)
        distance.append(dist)
        latitude.append(lat)
        longitude.append(lon)
        address.append(addr)
        city.append(city_name)
        name.append(business_name)
        rating.append(business_rating)

    # Create a DataFrame from the extracted data
    data_frame = pd.DataFrame({
        'Yelp ID': yelp_ids,
        'Categories': categories,
        'Distance': distance,
        'Latitude': latitude,
        'Longitude': longitude,
        'Address': address,
        'City': city,
        'Name': name,
        'Rating': rating
    })

    return data_frame

# Example usage:
extracted_data_yelp = extract_yelp_data(yelp_data)
print(extracted_data_yelp)

                  Yelp ID                        Categories     Distance  \
0  Vc4RIVJO1H3fEVSxKhEyIQ                         Cafeteria   616.451917
1  eQb3XqyhyuhFjeJWVZXIVw                         Cafeteria   388.335995
2  BRA1z3dUr3mydVH3GGGmdQ                      Coffee & Tea   799.139855
3  ihZ_5G2_q0-QpDHZO0bJBw     Cafeteria, Breakfast & Brunch   692.005373
4  F-yMUss08kAYNMFQ5pzvFw  Coffee & Tea, Breakfast & Brunch   675.972340
5  2kF_1PF3OUAwDKYQjEw64A                      Coffee & Tea  1054.363331
6  81FxHLD2sbLP_HPaG2XiJA                    Latin American  1051.327423
7  0CchsiR66o0mpb5EdrNdpA                        Tapas Bars  1051.327423

    Latitude  Longitude                                            Address  \
0  40.445424  -3.724876      Plaza Ramón y Cajal, s/n, 28040 Madrid, Spain
1  40.445956  -3.728114      Avenida Complutense, S/N, 28040 Madrid, Spain
2  40.442676  -3.725866           Avenida Complutense, 28040 Madrid, Spain
3  40.445410  -3.739830  Ciudad Universitaria, Carretera M-30, 28040 Ma...
4  40.443847  -3.726138      Avenida Complutense, s/n, 28040 Madrid, Spain
5  40.447150  -3.730650                Ciudad Universitaria, Madrid, Spain
6  40.387460  -3.668160  Calle de la Sierra de Molina, 31, 28053 Madrid...
7  40.388740  -3.666840  Calle de la Sierra de Molina, 7, 28053 Madrid,...

     City                                               Name  Rating
0  Madrid                        Cafetería Facultad Farmacia     3.5
1  Madrid  Cafetería de la Facultad de Ciencias de la Inf...     4.0
2  Madrid                  Cafetería Facultad de Odontologia     5.0
3  Madrid          Cafetería de la Facultad de Filosofía UCM     3.5
4  Madrid                                        Metrocoffee     4.0
5  Madrid                                    Cafeteria Etsit     3.0
6  Madrid                                      Donde Siempre     1.0
7  Madrid                                             Ufarte     2.0

In [194]:
extracted_data_yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Yelp ID     8 non-null      object
 1   Categories  8 non-null      object
 2   Distance    8 non-null      float64
 3   Latitude    8 non-null      float64
 4   Longitude   8 non-null      float64
 5   Address     8 non-null      object
 6   City        8 non-null      object
 7   Name        8 non-null      object
 8   Rating      8 non-null      float64
dtypes: float64(4), object(5)
memory usage: 704.0+ bytes

Put your parsed results into a DataFrame

In [195]:
# Already parsed into a dataframe in the function. # Create a DataFrame from the extracted data
# data_frame = pd.DataFrame({ 'Yelp ID': yelp_ids,'Categories': categories,'Distance': distance,'Latitude': latitude,'Longitude': longitude,
# 'Address': address,'City': city,'Name': name,'Rating': rating})'''

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

##### I have found that both the Foursquare and Yelp APIs provide valuable data for various purposes. The choice of which one to use depends on your specific needs and the type of data you require. 

##### The Yelp API has been particularly helpful for me. It provided me with information primarily related to businesses and places, with a strong focus on user-generated reviews and ratings. This includes detailed information about businesses such as their names, addresses, contact details, ratings, reviews, and categories. It has proven to be very useful when I needed to analyze and compare user opinions, ratings, and reviews about restaurants, bars, and other businesses. I've found it to be more suitable for applications related to the hospitality and food service industry.

##### On the other hand, the Foursquare API has also been quite valuable in my work. It offers a broader range of location-based data and insights beyond just businesses and places. In addition to business details, Foursquare has provided me with data related to check-ins, user-generated tips, user profiles, and location trends. This extensive dataset has been instrumental in exploring user behavior, tracking trends in check-in activity, and understanding user preferences in a more general sense. It's a versatile choice for applications that require a deeper understanding of user engagement and location-based behavior.

##### "I was unable to find ratings information from Foursquare data for the city I chose(Madrid)".

##### In summary, if you primarily need detailed information about businesses, their ratings, and reviews, the Yelp API may be more suitable for your needs. On the other hand, if you're interested in a broader range of location-based data, including user activity and trends, the Foursquare API can provide valuable insights. Your choice should align with your specific analytical goals and the type of data that best serves your analysis."

Get the top 10 restaurants according to their rating

In [196]:
# Save this as a csv file

import pandas as pd

# Save the DataFrame as a CSV file
extracted_data_yelp.to_csv('C:\\Users\\affuy\\Documents\\Data_Sets\\df_Yelp.csv', index=False)