In [28]:
# imports

import pandas as pd
import requests
import os

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [29]:
# Load csv file from local machine

data = pd.read_csv('C:\\Users\\affuy\\Documents\\Data_Sets\\df_2.csv')

# View make up and structure of the file
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394 entries, 0 to 393
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    394 non-null    int64
 1   empty_slots   394 non-null    int64
 2   extra         394 non-null    object
 3   free_bikes    394 non-null    int64
 4   id            394 non-null    object
 5   latitude      394 non-null    float64
 6   longitude     394 non-null    float64
 7   name          394 non-null    object
 8   timestamp     394 non-null    object
 9   Station Name  394 non-null    object
 10  Latitude      394 non-null    float64
 11  Longitude     394 non-null    float64
 12  Total Bikes   394 non-null    int64
dtypes: float64(4), int64(4), object(5)
memory usage: 40.1+ KB

In [30]:
# View the DataFrame (It has 394 rows and 10 columns)
data.head()
# Observe it contains a column made of a nested Series object i.e 'extra'

,Unnamed: 0,empty_slots,extra,free_bikes,id,latitude,longitude,name,timestamp,Station Name,Latitude,Longitude,Total Bikes
0,0,24,"{'address': 'Calle Miguel Moya nº 1,', 'light'...",3,82e78d26829a2dc89122e8f0988e2a28,40.420589,-3.705842,2 - Miguel Moya,2023-09-07T00:06:34.970000Z,2 - Miguel Moya,40.420589,-3.705842,27
1,1,17,{'address': 'Plaza del Conde del Valle de Súch...,2,248a049595da65f6aada65476ca1f958,40.430294,-3.706917,3 - Plaza Conde Suchil,2023-09-07T00:06:35.512000Z,3 - Plaza Conde Suchil,40.430294,-3.706917,19
2,2,16,"{'address': 'Calle Hortaleza nº 63,', 'light':...",3,bb6afabc8fbc0e12d4717d6a3a3473c3,40.424148,-3.698447,6 - Colegio Arquitectos,2023-09-07T00:06:35.483000Z,6 - Colegio Arquitectos,40.424148,-3.698447,19
3,3,18,"{'address': 'Calle Hortaleza nº 75,', 'light':...",1,55a618a12ce76d28b82343f2c60d6693,40.425191,-3.697771,7 - Hortaleza,2023-09-07T00:06:34.972000Z,7 - Hortaleza,40.425191,-3.697771,19
4,4,24,"{'address': 'Plaza de San Miguel nº 9,', 'ligh...",0,5ff854ab96bd68ae3c28be05a0dab949,40.415606,-3.709508,9 - Plaza de San Miguel,2023-09-07T00:06:35.494000Z,9 - Plaza de San Miguel,40.415606,-3.709508,24

##### We have to extract the 'extra' column ond explore its contents
##### Also notice that the contents of the 'extra' column is a string representation of a dictionary and not actually a dictionary. This took me awhile to find out

In [31]:
# Extract values in the 'extra' column of our data dataframe;
import pandas as pd
import ast

def extract_extra_values(data):
    """
    Extracts all values from the 'extra' column of the dataframe (data) containing string representations
    of dictionaries as a new DataFrame.

    Args:
        data (pd.DataFrame): The input DataFrame containing the 'extra' column with string representations of dictionaries.

    Returns:
        pd.DataFrame: A new DataFrame containing the extracted values from the 'extra' column.
    """
    # Convert the string representations of dictionaries into actual dictionaries
    # We use ast.literal_eval which is a Python built-in function provided by the ast (Abstract Syntax Trees) module. 
    # It's used to safely evaluate (i.e., parse and interpret) a single expression as a Python literal 
    # (e.g., a string, number, list, dictionary, tuple, etc.) without executing any potentially harmful code
    data['extra'] = data['extra'].apply(ast.literal_eval)
    
    # Create a DataFrame from the 'extra' column
    extra_df = pd.DataFrame(data['extra'].tolist())

    return extra_df

# Example usage:
# Since 'data' is my DataFrame
extra_col_data = extract_extra_values(data)

# Display the resulting DataFrame
print(extra_col_data)

                                       address   light number  online  slots  \
0                      Calle Miguel Moya nº 1,   green      2    True     27
1    Plaza del Conde del Valle de Súchil nº 3,   green      3    True     19
2                       Calle Hortaleza nº 63,   green      6    True     19
3                       Calle Hortaleza nº 75,   green      7    True     19
4                    Plaza de San Miguel nº 9,   green      9    True     24
..                                         ...     ...    ...     ...    ...
389                            Calle del tejo,  yellow    272    True     23
390                       Calle Babilonia, 19,  yellow    559    True     23
391                          Calle Albelda, 6,     red    528    True     24
392     311 - Calle del Profesor Aranguren, 1,   green    311    True     27
393                     Calle Soto Hidalgo, 2,     red    563    True     27

      uid
0    1406
1    1407
2    1410
3    1411
4    1413
..    ...
389  2305
390  2309
391  2316
392  2320
393  2283

[394 rows x 6 columns]

In [32]:
# View the composition of the main dataframe(data) and the extracted dataframe(extra_col_data)
print(extra_col_data.info(), data.info())

# Shows same number of rows which is cool

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394 entries, 0 to 393
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   address  394 non-null    object
 1   light    394 non-null    object
 2   number   394 non-null    object
 3   online   394 non-null    bool
 4   slots    394 non-null    int64
 5   uid      394 non-null    int64
dtypes: bool(1), int64(2), object(3)
memory usage: 15.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394 entries, 0 to 393
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    394 non-null    int64
 1   empty_slots   394 non-null    int64
 2   extra         394 non-null    object
 3   free_bikes    394 non-null    int64
 4   id            394 non-null    object
 5   latitude      394 non-null    float64
 6   longitude     394 non-null    float64
 7   name          394 non-null    object
 8   timestamp     394 non-null    object
 9   Station Name  394 non-null    object
 10  Latitude      394 non-null    float64
 11  Longitude     394 non-null    float64
 12  Total Bikes   394 non-null    int64
dtypes: float64(4), int64(4), object(5)
memory usage: 40.1+ KB
None None

##### Next step is to merge the original data together with the extracted column

In [33]:
# Assuming 'data' is your original DataFrame and 'extra_col_data' is the DataFrame
# containing the extracted 'extra' column values (as shown in the previous responses)

# Concatenate the two DataFrames along the columns axis (axis=1)
merged_data = pd.concat([data, extra_col_data], axis=1)

# Display the merged DataFrame
merged_data.info() # This gives us same number of rows and 15 columns. Making progress

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394 entries, 0 to 393
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    394 non-null    int64
 1   empty_slots   394 non-null    int64
 2   extra         394 non-null    object
 3   free_bikes    394 non-null    int64
 4   id            394 non-null    object
 5   latitude      394 non-null    float64
 6   longitude     394 non-null    float64
 7   name          394 non-null    object
 8   timestamp     394 non-null    object
 9   Station Name  394 non-null    object
 10  Latitude      394 non-null    float64
 11  Longitude     394 non-null    float64
 12  Total Bikes   394 non-null    int64
 13  address       394 non-null    object
 14  light         394 non-null    object
 15  number        394 non-null    object
 16  online        394 non-null    bool
 17  slots         394 non-null    int64
 18  uid           394 non-null    int64
dtypes: bool(1), float64(4), int64(6), object(8)
memory usage: 55.9+ KB

In [34]:
# Create a new column concatenating latitude and longitude into a comma-separated string
merged_data['ll'] = merged_data['latitude'].astype(str) + ',' + merged_data['longitude'].astype(str)
merged_data.head(3) # View the dataframe with the new column 'll' added.

,Unnamed: 0,empty_slots,extra,free_bikes,id,latitude,longitude,name,timestamp,Station Name,Latitude,Longitude,Total Bikes,address,light,number,online,slots,uid,ll
0,0,24,"{'address': 'Calle Miguel Moya nº 1,', 'light'...",3,82e78d26829a2dc89122e8f0988e2a28,40.420589,-3.705842,2 - Miguel Moya,2023-09-07T00:06:34.970000Z,2 - Miguel Moya,40.420589,-3.705842,27,"Calle Miguel Moya nº 1,",green,2,True,27,1406,"40.4205886,-3.7058415"
1,1,17,{'address': 'Plaza del Conde del Valle de Súch...,2,248a049595da65f6aada65476ca1f958,40.430294,-3.706917,3 - Plaza Conde Suchil,2023-09-07T00:06:35.512000Z,3 - Plaza Conde Suchil,40.430294,-3.706917,19,"Plaza del Conde del Valle de Súchil nº 3,",green,3,True,19,1407,"40.4302937,-3.7069171"
2,2,16,"{'address': 'Calle Hortaleza nº 63,', 'light':...",3,bb6afabc8fbc0e12d4717d6a3a3473c3,40.424148,-3.698447,6 - Colegio Arquitectos,2023-09-07T00:06:35.483000Z,6 - Colegio Arquitectos,40.424148,-3.698447,19,"Calle Hortaleza nº 63,",green,6,True,19,1410,"40.424148,-3.698447"

In [35]:
# View new merged dataframe composition
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394 entries, 0 to 393
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    394 non-null    int64
 1   empty_slots   394 non-null    int64
 2   extra         394 non-null    object
 3   free_bikes    394 non-null    int64
 4   id            394 non-null    object
 5   latitude      394 non-null    float64
 6   longitude     394 non-null    float64
 7   name          394 non-null    object
 8   timestamp     394 non-null    object
 9   Station Name  394 non-null    object
 10  Latitude      394 non-null    float64
 11  Longitude     394 non-null    float64
 12  Total Bikes   394 non-null    int64
 13  address       394 non-null    object
 14  light         394 non-null    object
 15  number        394 non-null    object
 16  online        394 non-null    bool
 17  slots         394 non-null    int64
 18  uid           394 non-null    int64
 19  ll            394 non-null    object
dtypes: bool(1), float64(4), int64(6), object(9)
memory usage: 59.0+ KB

##### Next I make a copy of the new combined dataframe and with only the columns relevant to my analysis

In [36]:
# create a new dataframe with required columns
new_merged_df = merged_data[['name', 'id','latitude', 'longitude', 'Station Name', 'Total Bikes', 'number', 'slots', 'uid','ll']]
new_merged_df

,name,id,latitude,longitude,Station Name,Total Bikes,number,slots,uid,ll
0,2 - Miguel Moya,82e78d26829a2dc89122e8f0988e2a28,40.420589,-3.705842,2 - Miguel Moya,27,2,27,1406,"40.4205886,-3.7058415"
1,3 - Plaza Conde Suchil,248a049595da65f6aada65476ca1f958,40.430294,-3.706917,3 - Plaza Conde Suchil,19,3,19,1407,"40.4302937,-3.7069171"
2,6 - Colegio Arquitectos,bb6afabc8fbc0e12d4717d6a3a3473c3,40.424148,-3.698447,6 - Colegio Arquitectos,19,6,19,1410,"40.424148,-3.698447"
3,7 - Hortaleza,55a618a12ce76d28b82343f2c60d6693,40.425191,-3.697771,7 - Hortaleza,19,7,19,1411,"40.4251906,-3.6977715"
4,9 - Plaza de San Miguel,5ff854ab96bd68ae3c28be05a0dab949,40.415606,-3.709508,9 - Plaza de San Miguel,24,9,24,1413,"40.4156057,-3.7095084"
...,...,...,...,...,...,...,...,...,...,...
389,272 - Calle del tejo,d394021b285e7bf3183a483e530d9daa,40.398001,-3.678027,272 - Calle del tejo,23,272,23,2305,"40.3980005,-3.6780275"
390,"559 - Calle Babilonia, 19",2e175e4613adf44134fda53c82f326f5,40.467530,-3.588235,"559 - Calle Babilonia, 19",23,559,23,2309,"40.4675299,-3.5882347"
391,"528 - Albelda, 6",7b1d1679aa52ec836f5d709292a8d177,40.449422,-3.657367,"528 - Albelda, 6",24,528,24,2316,"40.4494225,-3.6573666"
392,"311 - Calle del Profesor Aranguren, 1",83e7f55350d04be447fa9916b2a2fa1f,40.448931,-3.730518,"311 - Calle del Profesor Aranguren, 1",27,311,27,2320,"40.4489306,-3.7305176"
393,"563 - Soto Hidalgo, 2",39afd4ff092248bf0f470e2259488719,40.460647,-3.582075,"563 - Soto Hidalgo, 2",27,563,27,2283,"40.4606465,-3.5820745"

In [37]:
# View composition of our updated dataframe with relevant columns to be used in analysis
new_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394 entries, 0 to 393
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          394 non-null    object
 1   id            394 non-null    object
 2   latitude      394 non-null    float64
 3   longitude     394 non-null    float64
 4   Station Name  394 non-null    object
 5   Total Bikes   394 non-null    int64
 6   number        394 non-null    object
 7   slots         394 non-null    int64
 8   uid           394 non-null    int64
 9   ll            394 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 30.9+ KB

In [38]:
# Save the DataFrame as a CSV file
new_merged_df.to_csv('C:\\Users\\affuy\\Documents\\Data_Sets\\city_bike_merged.csv', index=False)

#### Next we send request to FourSquare API with specifications of paramemters given in the project
### Recall that new_merged_df is our cleaned dataframe from citybike API

In [40]:
import requests
import os
import pandas as pd

# Send request with proveided requirements

api_key = os.environ["FOURSQUARE_API_KEY"]

# Initialize an empty list to store results
results = []

# Iterate through the rows of the 'data2' DataFrame
for index, row in new_merged_df.iterrows():
    ll = row['ll']
    radius = 1000  # You can adjust the radius as needed
    categories = 13000  # You can adjust the category as needed
    limit = 10  # You can adjust the limit as needed

    url = f"https://api.foursquare.com/v3/places/search?ll={ll}&radius={radius}&categories={categories}&sort=RATING&limit={limit}"

    headers = {
        "accept": "application/json",
        "Authorization": api_key
    }

    response = requests.get(url, headers=headers)

    if response.status_code == 200:
        data2_result = response.json() #Stor result in data2_result
        results.append(data2_result)
    else:
        print(f"Failed to retrieve data for ll: {ll}. Status code: {response.status_code}")

### EDA to understand the response from the API request

In [41]:
# Send another request to explore whats in the link
url_new = 'https://api.foursquare.com/v3/places/5e149ca13a952d000805626b'
response_new = requests.get(url_new, headers=headers)
response_new.json() # View the JSON response which is a nested JSON object

{'fsq_id': '5e149ca13a952d000805626b',
 'categories': [{'id': 13049,
   'name': 'Diner',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/diner_',
    'suffix': '.png'}}],
 'chains': [],
 'geocodes': {'main': {'latitude': 40.446518, 'longitude': -3.727189}},
 'link': '/v3/places/5e149ca13a952d000805626b',
 'location': {'address': 'Calle de Carranza, 19',
  'admin_region': 'Comunidad de Madrid',
  'country': 'ES',
  'cross_street': '',
  'formatted_address': 'Calle de Carranza, 19, 28004 Madrid Madrid',
  'locality': 'Madrid',
  'postcode': '28004',
  'region': 'Madrid'},
 'name': 'Igo Waffle Fuencarral',
 'related_places': {},
 'timezone': 'Europe/Madrid'}

In [42]:
# View output of request
data2_result

# Output is similar to output of link explored above

{'results': [{'fsq_id': '4b9aa60ef964a5209ec935e3',
   'categories': [{'id': 13025,
     'name': 'Wine Bar',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/winery_',
      'suffix': '.png'}},
    {'id': 13347,
     'name': 'Tapas Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/tapas_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 916,
   'geocodes': {'drop_off': {'latitude': 40.463517, 'longitude': -3.592247},
    'main': {'latitude': 40.463551, 'longitude': -3.592373},
    'roof': {'latitude': 40.463551, 'longitude': -3.592373}},
   'link': '/v3/places/4b9aa60ef964a5209ec935e3',
   'location': {'address': 'Calle Bahía de Palma, 9',
    'address_extended': 'Esquina Bahia de Almeria',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': 'C. Bahía de Almería',
    'formatted_address': 'Calle Bahía de Palma, 9 (C. Bahía de Almería), 28042 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28042',
    'region': 'Madrid'},
   'name': 'Bahía Taberna',
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '4b9f527df964a5208f1c37e3',
   'categories': [{'id': 13002,
     'name': 'Bakery',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/bakery_',
      'suffix': '.png'}},
    {'id': 13035,
     'name': 'Coffee Shop',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_',
      'suffix': '.png'}},
    {'id': 13065,
     'name': 'Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 482,
   'geocodes': {'main': {'latitude': 40.457656, 'longitude': -3.585603},
    'roof': {'latitude': 40.457656, 'longitude': -3.585603}},
   'link': '/v3/places/4b9f527df964a5208f1c37e3',
   'location': {'address': 'Avenida de Cantabria, 39',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'formatted_address': 'Avenida de Cantabria, 39, 28042 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28042',
    'region': 'Madrid'},
   'name': 'La 28',
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '54b057f2498e382589205798',
   'categories': [{'id': 13026,
     'name': 'BBQ Joint',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/bbqalt_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 231,
   'geocodes': {'drop_off': {'latitude': 40.458533, 'longitude': -3.582349},
    'main': {'latitude': 40.458694, 'longitude': -3.582485},
    'roof': {'latitude': 40.458694, 'longitude': -3.582485}},
   'link': '/v3/places/54b057f2498e382589205798',
   'location': {'address': 'Calle Galeón, 27',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': '',
    'formatted_address': 'Calle Galeón, 27, 28042 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28042',
    'region': 'Madrid'},
   'name': 'Raza 7',
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '4bf33989e5eba593f75d1e90',
   'categories': [{'id': 13099,
     'name': 'Chinese Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/asian_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 906,
   'geocodes': {'main': {'latitude': 40.454753, 'longitude': -3.589435},
    'roof': {'latitude': 40.454753, 'longitude': -3.589435}},
   'link': '/v3/places/4bf33989e5eba593f75d1e90',
   'location': {'address': 'Calle Balandro, 36',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'formatted_address': 'Calle Balandro, 36, 28042 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28042',
    'region': 'Madrid'},
   'name': 'Jardin de China',
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '5087f2d9e4b01f175ec381f8',
   'categories': [{'id': 13303,
     'name': 'Mexican Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/mexican_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 841,
   'geocodes': {'main': {'latitude': 40.462531, 'longitude': -3.592115},
    'roof': {'latitude': 40.462531, 'longitude': -3.592115}},
   'link': '/v3/places/5087f2d9e4b01f175ec381f8',
   'location': {'address': 'Calle Bahía de Palma, 7A',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': '',
    'formatted_address': 'Calle Bahía de Palma, 7A, 28042 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28042',
    'region': 'Madrid'},
   'name': 'No Q No',
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '56112c8e498e106b59bdfd3d',
   'categories': [{'id': 13031,
     'name': 'Burger Joint',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/burger_',
      'suffix': '.png'}},
    {'id': 13145,
     'name': 'Fast Food Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/fastfood_',
      'suffix': '.png'}}],
   'chains': [{'id': 'ab4a3530-d68a-012e-5619-003048cad9da',
     'name': "McDonald's"}],
   'distance': 929,
   'geocodes': {'main': {'latitude': 40.46904, 'longitude': -3.582009},
    'roof': {'latitude': 40.46904, 'longitude': -3.582009}},
   'link': '/v3/places/56112c8e498e106b59bdfd3d',
   'location': {'address': 'Avenida Logroño, 303',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': '',
    'formatted_address': 'Avenida Logroño, 303, Madrid Madrid',
    'locality': 'Madrid',
    'region': 'Madrid'},
   'name': "McDonald's",
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '56d06719498e400117dec986',
   'categories': [{'id': 13027,
     'name': 'Bistro',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 832,
   'geocodes': {'main': {'latitude': 40.461061, 'longitude': -3.591901}},
   'link': '/v3/places/56d06719498e400117dec986',
   'location': {'address': 'Calle Bahía de Almeria, 21',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': 'Avenida De Logroño, 197',
    'formatted_address': 'Calle Bahía de Almeria, 21 (Avenida De Logroño, 197), 28042 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28042',
    'region': 'Madrid'},
   'name': "Hemingway's Bar",
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '4d8bb202cdfbb60c3ac95907',
   'categories': [{'id': 13003,
     'name': 'Bar',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/pub_',
      'suffix': '.png'}},
    {'id': 13065,
     'name': 'Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 686,
   'geocodes': {'main': {'latitude': 40.458264, 'longitude': -3.589541}},
   'link': '/v3/places/4d8bb202cdfbb60c3ac95907',
   'location': {'address': 'Paseo de la Alameda, 83',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': '',
    'formatted_address': 'Paseo de la Alameda, 83, Madrid Madrid',
    'locality': 'Madrid',
    'region': 'Madrid'},
   'name': 'La Taberna de Osuna',
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '530f4f6a11d22a2ea3a4e2be',
   'categories': [{'id': 13031,
     'name': 'Burger Joint',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/burger_',
      'suffix': '.png'}},
    {'id': 13145,
     'name': 'Fast Food Restaurant',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/fastfood_',
      'suffix': '.png'}}],
   'chains': [{'id': 'ab4a9b10-d68a-012e-5619-003048cad9da',
     'name': 'Burger King'}],
   'distance': 917,
   'geocodes': {'main': {'latitude': 40.462226, 'longitude': -3.571589}},
   'link': '/v3/places/530f4f6a11d22a2ea3a4e2be',
   'location': {'address': 'Terminal, 1',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': 'Aeropuerto Adolfo Suárez Madrid-Barajas',
    'formatted_address': 'Terminal, 1 (Aeropuerto Adolfo Suárez Madrid-Barajas), 28042 Madrid Madrid',
    'locality': 'Madrid',
    'postcode': '28042',
    'region': 'Madrid'},
   'name': 'Burger King',
   'related_places': {'parent': {'fsq_id': '4b4b3c65f964a520299526e3',
     'name': 'La Terminal'}},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '53770e5f498e7975529d0f4c',
   'categories': [{'id': 13026,
     'name': 'BBQ Joint',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/bbqalt_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 991,
   'geocodes': {'main': {'latitude': 40.462938, 'longitude': -3.570735}},
   'link': '/v3/places/53770e5f498e7975529d0f4c',
   'location': {'address': 'Terminal, 1',
    'address_extended': 'MAD Airport',
    'admin_region': 'Comunidad de Madrid',
    'country': 'ES',
    'cross_street': 'MAD Airport',
    'formatted_address': 'Terminal, 1 (MAD Airport), Madrid Madrid',
    'locality': 'Madrid',
    'region': 'Madrid'},
   'name': 'Urban Grill',
   'related_places': {},
   'timezone': 'Europe/Madrid'}],
 'context': {'geo_bounds': {'circle': {'center': {'latitude': 40.4606465,
     'longitude': -3.5820745},
    'radius': 1000}}}}

In [43]:
# Convert the dictionary into a DataFrame
data2_dataframe = pd.DataFrame.from_dict(data2_result, orient='index').T

# Display the resulting DataFrame
print(data2_dataframe)
data2_dataframe.head(2)
# Observe there's no ratings key in the dictionary

                                             results     context
0  {'fsq_id': '4b9aa60ef964a5209ec935e3', 'catego...  geo_bounds
1  {'fsq_id': '4b9f527df964a5208f1c37e3', 'catego...        None
2  {'fsq_id': '54b057f2498e382589205798', 'catego...        None
3  {'fsq_id': '4bf33989e5eba593f75d1e90', 'catego...        None
4  {'fsq_id': '5087f2d9e4b01f175ec381f8', 'catego...        None
5  {'fsq_id': '56112c8e498e106b59bdfd3d', 'catego...        None
6  {'fsq_id': '56d06719498e400117dec986', 'catego...        None
7  {'fsq_id': '4d8bb202cdfbb60c3ac95907', 'catego...        None
8  {'fsq_id': '530f4f6a11d22a2ea3a4e2be', 'catego...        None
9  {'fsq_id': '53770e5f498e7975529d0f4c', 'catego...        None

                                             results     context
0  {'fsq_id': '4b9aa60ef964a5209ec935e3', 'catego...  geo_bounds
1  {'fsq_id': '4b9f527df964a5208f1c37e3', 'catego...        None

In [44]:
# SLice the dataframe and save in a new variable to further analyze the structure of the reponse
data2_dataframe['results'][0]
new_data2_dataframe = data2_dataframe['results'][0]
new_data2_dataframe
# Further deeper slicing does not reveal Rating key for this particular city

{'fsq_id': '4b9aa60ef964a5209ec935e3',
 'categories': [{'id': 13025,
   'name': 'Wine Bar',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/winery_',
    'suffix': '.png'}},
  {'id': 13347,
   'name': 'Tapas Restaurant',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/tapas_',
    'suffix': '.png'}}],
 'chains': [],
 'distance': 916,
 'geocodes': {'drop_off': {'latitude': 40.463517, 'longitude': -3.592247},
  'main': {'latitude': 40.463551, 'longitude': -3.592373},
  'roof': {'latitude': 40.463551, 'longitude': -3.592373}},
 'link': '/v3/places/4b9aa60ef964a5209ec935e3',
 'location': {'address': 'Calle Bahía de Palma, 9',
  'address_extended': 'Esquina Bahia de Almeria',
  'admin_region': 'Comunidad de Madrid',
  'country': 'ES',
  'cross_street': 'C. Bahía de Almería',
  'formatted_address': 'Calle Bahía de Palma, 9 (C. Bahía de Almería), 28042 Madrid Madrid',
  'locality': 'Madrid',
  'postcode': '28042',
  'region': 'Madrid'},
 'name': 'Bahía Taberna',
 'related_places': {},
 'timezone': 'Europe/Madrid'}

In [45]:
# Check for keys in the dictionary to determine columns of importance for us.
data2_dataframe['results'][5].keys() 
# No columns for Ratings for this City

dict_keys(['fsq_id', 'categories', 'chains', 'distance', 'geocodes', 'link', 'location', 'name', 'related_places', 'timezone'])

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [46]:
import pandas as pd

def extract_foursquare_data(data2_result):
    # Initialize empty lists to store extracted data
    fsq_ids = []
    categories = []
    distance = []
    latitude = []
    longitude = []
    address = []
    country = []
    locality = []

    for result in data2_result['results']:
        fsq_id = result.get('fsq_id', None)
        
        # Extract category names as a comma-separated string
        category_names = ', '.join([cat['name'] for cat in result['categories']]) # Use list comprehension
        
        dist = result.get('distance', None)
        lat = result['geocodes']['main']['latitude']
        lon = result['geocodes']['main']['longitude']
        addr = result.get('location', {}).get('address', None)
        cntry = result.get('location', {}).get('country', None)
        loc = result.get('location', {}).get('locality', None)
        
        # Append extracted data to respective lists
        fsq_ids.append(fsq_id)
        categories.append(category_names)
        distance.append(dist)
        latitude.append(lat)
        longitude.append(lon)
        address.append(addr)
        country.append(cntry)
        locality.append(loc)

    # Create a DataFrame from the extracted data
    data_frame = pd.DataFrame({
        'Foursquare ID': fsq_ids,
        'Categories': categories,
        'Distance': distance,
        'Latitude': latitude,
        'Longitude': longitude,
        'Address': address,
        'Country': country,
        'Locality': locality
    })
    
    return data_frame

# Example usage:
extracted_data_fs = extract_foursquare_data(data2_result)
print(extracted_data_fs)

# Here we define a function called extract_foursquare_data that extracts 
# and organizes data from a dictionary (data2_result) retrieved from the Foursquare API.

              Foursquare ID                          Categories  Distance  \
0  4b9aa60ef964a5209ec935e3          Wine Bar, Tapas Restaurant       916
1  4b9f527df964a5208f1c37e3     Bakery, Coffee Shop, Restaurant       482
2  54b057f2498e382589205798                           BBQ Joint       231
3  4bf33989e5eba593f75d1e90                  Chinese Restaurant       906
4  5087f2d9e4b01f175ec381f8                  Mexican Restaurant       841
5  56112c8e498e106b59bdfd3d  Burger Joint, Fast Food Restaurant       929
6  56d06719498e400117dec986                              Bistro       832
7  4d8bb202cdfbb60c3ac95907                     Bar, Restaurant       686
8  530f4f6a11d22a2ea3a4e2be  Burger Joint, Fast Food Restaurant       917
9  53770e5f498e7975529d0f4c                           BBQ Joint       991

    Latitude  Longitude                     Address Country Locality
0  40.463551  -3.592373     Calle Bahía de Palma, 9      ES   Madrid
1  40.457656  -3.585603    Avenida de Cantabria, 39      ES   Madrid
2  40.458694  -3.582485            Calle Galeón, 27      ES   Madrid
3  40.454753  -3.589435          Calle Balandro, 36      ES   Madrid
4  40.462531  -3.592115    Calle Bahía de Palma, 7A      ES   Madrid
5  40.469040  -3.582009        Avenida Logroño, 303      ES   Madrid
6  40.461061  -3.591901  Calle Bahía de Almeria, 21      ES   Madrid
7  40.458264  -3.589541     Paseo de la Alameda, 83      ES   Madrid
8  40.462226  -3.571589                 Terminal, 1      ES   Madrid
9  40.462938  -3.570735                 Terminal, 1      ES   Madrid

Put your parsed results into a DataFrame

In [47]:
# Create a DataFrame from the extracted data
extracted_data_fs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Foursquare ID  10 non-null     object
 1   Categories     10 non-null     object
 2   Distance       10 non-null     int64
 3   Latitude       10 non-null     float64
 4   Longitude      10 non-null     float64
 5   Address        10 non-null     object
 6   Country        10 non-null     object
 7   Locality       10 non-null     object
dtypes: float64(2), int64(1), object(5)
memory usage: 768.0+ bytes

In [48]:
# Save this as a csv file

import pandas as pd

# Save the DataFrame as a CSV file
extracted_data_fs.to_csv('C:\\Users\\affuy\\Documents\\Data_Sets\\df_foursquare.csv', index=False)

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

#### Repeat same steps for FourSquare with Yelp

In [51]:
import requests
import os
import pandas as pd

# Assuming you have the 'data2' DataFrame with 'latitude' and 'longitude' columns

yelp_api_key = os.environ["YELP_API_KEY"]

# Initialize an empty list to store results
yelp_results = []

# Iterate through the rows of the 'data2' DataFrame
for index, row in new_merged_df.iterrows():
    latitude = row['latitude']
    longitude = row['longitude']
    radius = 1000  # You can adjust the radius as needed
    categories = "restaurants"  # You can adjust the category as needed
    limit = 50  # You can adjust the limit as needed

    url = f"https://api.yelp.com/v3/businesses/search"

    params = {
        "latitude": latitude,
        "longitude": longitude,
        "radius": radius,
        "categories": categories,
        "limit": limit
    }

    headers = {
        "Authorization": f"Bearer {yelp_api_key}"
    }

    response = requests.get(url, params=params, headers=headers)

    if response.status_code == 200:
        yelp_data = response.json()
        yelp_results.append(yelp_data)
    else:
        print(f"Failed to retrieve data for latitude: {latitude}, longitude: {longitude}. Status code: {response.status_code}")

# Process and extract relevant information from 'yelp_results' as needed
# You can follow a similar approach as in the previous Foursquare example

Failed to retrieve data for latitude: 40.4205886, longitude: -3.7058415. Status code: 429
Failed to retrieve data for latitude: 40.4302937, longitude: -3.7069171. Status code: 429
Failed to retrieve data for latitude: 40.424148, longitude: -3.698447. Status code: 429
Failed to retrieve data for latitude: 40.4251906, longitude: -3.6977715. Status code: 429
Failed to retrieve data for latitude: 40.4156057, longitude: -3.7095084. Status code: 429
Failed to retrieve data for latitude: 40.4262383, longitude: -3.7074453. Status code: 429
Failed to retrieve data for latitude: 40.4200783, longitude: -3.7065376. Status code: 429
Failed to retrieve data for latitude: 40.4202834, longitude: -3.7081246. Status code: 429
Failed to retrieve data for latitude: 40.4173703, longitude: -3.7057791. Status code: 429
Failed to retrieve data for latitude: 40.4192095, longitude: -3.711504. Status code: 429
Failed to retrieve data for latitude: 40.4163638, longitude: -3.7068969. Status code: 429
Failed to retrieve data for latitude: 40.4150099, longitude: -3.7061032. Status code: 429
Failed to retrieve data for latitude: 40.4146755, longitude: -3.7036825. Status code: 429
Failed to retrieve data for latitude: 40.4141931, longitude: -3.7103285. Status code: 429
Failed to retrieve data for latitude: 40.4168, longitude: -3.71183. Status code: 429
Failed to retrieve data for latitude: 40.4108, longitude: -3.714113. Status code: 429
Failed to retrieve data for latitude: 40.4112744, longitude: -3.7088337. Status code: 429
Failed to retrieve data for latitude: 40.4122047, longitude: -3.6991147. Status code: 429
Failed to retrieve data for latitude: 40.4053153, longitude: -3.7071259. Status code: 429
Failed to retrieve data for latitude: 40.4083684, longitude: -3.6933463. Status code: 429
Failed to retrieve data for latitude: 40.4075606, longitude: -3.6935205. Status code: 429
Failed to retrieve data for latitude: 40.4144226, longitude: -3.7007164. Status code: 429
Failed to retrieve data for latitude: 40.4239757, longitude: -3.7020842. Status code: 429
Failed to retrieve data for latitude: 40.4184192, longitude: -3.7032414. Status code: 429
Failed to retrieve data for latitude: 40.4295658, longitude: -3.7126299. Status code: 429
Failed to retrieve data for latitude: 40.4255495, longitude: -3.7043418. Status code: 429
Failed to retrieve data for latitude: 40.419752, longitude: -3.688398. Status code: 429
Failed to retrieve data for latitude: 40.4213148, longitude: -3.6724968. Status code: 429
Failed to retrieve data for latitude: 40.4179237, longitude: -3.6708959. Status code: 429
Failed to retrieve data for latitude: 40.4166834, longitude: -3.6894193. Status code: 429
Failed to retrieve data for latitude: 40.4108472, longitude: -3.693225. Status code: 429
Failed to retrieve data for latitude: 40.409808, longitude: -3.688822. Status code: 429
Failed to retrieve data for latitude: 40.409297, longitude: -3.691987. Status code: 429
Failed to retrieve data for latitude: 40.4084556, longitude: -3.6697526. Status code: 429
Failed to retrieve data for latitude: 40.4186516, longitude: -3.6933498. Status code: 429
Failed to retrieve data for latitude: 40.427736, longitude: -3.6832566. Status code: 429
Failed to retrieve data for latitude: 40.4313576, longitude: -3.6838303. Status code: 429
Failed to retrieve data for latitude: 40.4272582, longitude: -3.6752024. Status code: 429
Failed to retrieve data for latitude: 40.4262945, longitude: -3.6865463. Status code: 429
Failed to retrieve data for latitude: 40.4232153, longitude: -3.690756. Status code: 429
Failed to retrieve data for latitude: 40.42478, longitude: -3.67384. Status code: 429
Failed to retrieve data for latitude: 40.42677, longitude: -3.68958. Status code: 429
Failed to retrieve data for latitude: 40.4251002, longitude: -3.6877227. Status code: 429
Failed to retrieve data for latitude: 40.4337322, longitude: -3.7175435. Status code: 429
Failed to retrieve data for latitude: 40.4341006, longitude: -3.7179687. Status code: 429
Failed to retrieve data for latitude: 40.423668, longitude: -3.713053. Status code: 429
Failed to retrieve data for latitude: 40.423681, longitude: -3.710537. Status code: 429
Failed to retrieve data for latitude: 40.4309797, longitude: -3.7188898. Status code: 429
Failed to retrieve data for latitude: 40.400781, longitude: -3.6882407. Status code: 429
Failed to retrieve data for latitude: 40.4306458, longitude: -3.7133412. Status code: 429
Failed to retrieve data for latitude: 40.4338516, longitude: -3.708439. Status code: 429
Failed to retrieve data for latitude: 40.4383865, longitude: -3.6982353. Status code: 429
Failed to retrieve data for latitude: 40.44156, longitude: -3.70164. Status code: 429
Failed to retrieve data for latitude: 40.4463667, longitude: -3.7036675. Status code: 429
Failed to retrieve data for latitude: 40.447125, longitude: -3.7001669. Status code: 429
Failed to retrieve data for latitude: 40.4334087, longitude: -3.6879154. Status code: 429

KeyboardInterrupt:

In [ ]:
yelp_data

{'businesses': [{'id': 'Vc4RIVJO1H3fEVSxKhEyIQ',
   'alias': 'cafetería-facultad-farmacia-madrid-2',
   'name': 'Cafetería Facultad Farmacia',
   'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/1WMLi0vxdTX8QSdWLY_pBQ/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/cafeter%C3%ADa-facultad-farmacia-madrid-2?adjust_creative=HtGBEqBv3zF4YDHhPbDfHg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=HtGBEqBv3zF4YDHhPbDfHg',
   'review_count': 2,
   'categories': [{'alias': 'cafeteria', 'title': 'Cafeteria'}],
   'rating': 3.5,
   'coordinates': {'latitude': 40.445423556744,
    'longitude': -3.72487552464008},
   'transactions': [],
   'price': '€',
   'location': {'address1': 'Plaza Ramón y Cajal, s/n',
    'address2': '',
    'address3': '',
    'city': 'Madrid',
    'zip_code': '28040',
    'country': 'ES',
    'state': 'M',
    'display_address': ['Plaza Ramón y Cajal, s/n', '28040 Madrid', 'Spain']},
   'phone': '+34913941734',
   'display_phone': '+34 913 94 17 34',
   'distance': 616.451917392791},
  {'id': 'eQb3XqyhyuhFjeJWVZXIVw',
   'alias': 'cafetería-de-la-facultad-de-ciencias-de-la-información-madrid',
   'name': 'Cafetería de la Facultad de Ciencias de la Información',
   'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/XvvN2oh8OTmymoU5INz3Mg/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/cafeter%C3%ADa-de-la-facultad-de-ciencias-de-la-informaci%C3%B3n-madrid?adjust_creative=HtGBEqBv3zF4YDHhPbDfHg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=HtGBEqBv3zF4YDHhPbDfHg',
   'review_count': 1,
   'categories': [{'alias': 'cafeteria', 'title': 'Cafeteria'}],
   'rating': 4.0,
   'coordinates': {'latitude': 40.4459555491884,
    'longitude': -3.72811395674944},
   'transactions': [],
   'location': {'address1': 'Avenida Complutense, S/N',
    'address2': '',
    'address3': '',
    'city': 'Madrid',
    'zip_code': '28040',
    'country': 'ES',
    'state': 'M',
    'display_address': ['Avenida Complutense, S/N', '28040 Madrid', 'Spain']},
   'phone': '',
   'display_phone': '',
   'distance': 388.33599526245183},
  {'id': 'BRA1z3dUr3mydVH3GGGmdQ',
   'alias': 'cafetería-facultad-de-odontologia-madrid',
   'name': 'Cafetería Facultad de Odontologia',
   'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/vWDvl-bSC2crqPzOkQhj7g/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/cafeter%C3%ADa-facultad-de-odontologia-madrid?adjust_creative=HtGBEqBv3zF4YDHhPbDfHg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=HtGBEqBv3zF4YDHhPbDfHg',
   'review_count': 2,
   'categories': [{'alias': 'coffee', 'title': 'Coffee & Tea'}],
   'rating': 5.0,
   'coordinates': {'latitude': 40.4426762535961,
    'longitude': -3.7258655215993},
   'transactions': [],
   'price': '€',
   'location': {'address1': 'Avenida Complutense',
    'address2': '',
    'address3': '',
    'city': 'Madrid',
    'zip_code': '28040',
    'country': 'ES',
    'state': 'M',
    'display_address': ['Avenida Complutense', '28040 Madrid', 'Spain']},
   'phone': '',
   'display_phone': '',
   'distance': 799.1398549876889},
  {'id': 'ihZ_5G2_q0-QpDHZO0bJBw',
   'alias': 'cafetería-de-la-facultad-de-filosofía-ucm-madrid-2',
   'name': 'Cafetería de la Facultad de Filosofía UCM',
   'image_url': '',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/cafeter%C3%ADa-de-la-facultad-de-filosof%C3%ADa-ucm-madrid-2?adjust_creative=HtGBEqBv3zF4YDHhPbDfHg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=HtGBEqBv3zF4YDHhPbDfHg',
   'review_count': 3,
   'categories': [{'alias': 'cafeteria', 'title': 'Cafeteria'},
    {'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'}],
   'rating': 3.5,
   'coordinates': {'latitude': 40.44541, 'longitude': -3.73983},
   'transactions': [],
   'location': {'address1': 'Ciudad Universitaria',
    'address2': 'Carretera M-30',
    'address3': '',
    'city': 'Madrid',
    'zip_code': '28040',
    'country': 'ES',
    'state': 'M',
    'display_address': ['Ciudad Universitaria',
     'Carretera M-30',
     '28040 Madrid',
     'Spain']},
   'phone': '+34915448998',
   'display_phone': '+34 915 44 89 98',
   'distance': 692.0053725418055},
  {'id': 'F-yMUss08kAYNMFQ5pzvFw',
   'alias': 'metrocoffee-madrid-2',
   'name': 'Metrocoffee',
   'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/t_qHFu2LRwyXN8KbbZRRWQ/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/metrocoffee-madrid-2?adjust_creative=HtGBEqBv3zF4YDHhPbDfHg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=HtGBEqBv3zF4YDHhPbDfHg',
   'review_count': 1,
   'categories': [{'alias': 'coffee', 'title': 'Coffee & Tea'},
    {'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'}],
   'rating': 4.0,
   'coordinates': {'latitude': 40.4438465047558, 'longitude': -3.726138027646},
   'transactions': [],
   'price': '€',
   'location': {'address1': 'Avenida Complutense, s/n',
    'address2': '',
    'address3': '',
    'city': 'Madrid',
    'zip_code': '28040',
    'country': 'ES',
    'state': 'M',
    'display_address': ['Avenida Complutense, s/n', '28040 Madrid', 'Spain']},
   'phone': '+34915494794',
   'display_phone': '+34 915 49 47 94',
   'distance': 675.9723400501939},
  {'id': '2kF_1PF3OUAwDKYQjEw64A',
   'alias': 'cafeteria-etsit-madrid',
   'name': 'Cafeteria Etsit',
   'image_url': '',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/cafeteria-etsit-madrid?adjust_creative=HtGBEqBv3zF4YDHhPbDfHg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=HtGBEqBv3zF4YDHhPbDfHg',
   'review_count': 1,
   'categories': [{'alias': 'coffee', 'title': 'Coffee & Tea'}],
   'rating': 3.0,
   'coordinates': {'latitude': 40.44715, 'longitude': -3.73065},
   'transactions': [],
   'location': {'address1': None,
    'address2': 'Ciudad Universitaria',
    'address3': '',
    'city': 'Madrid',
    'zip_code': '',
    'country': 'ES',
    'state': 'M',
    'display_address': ['Ciudad Universitaria', 'Madrid', 'Spain']},
   'phone': '',
   'display_phone': '',
   'distance': 1054.3633306609456},
  {'id': '81FxHLD2sbLP_HPaG2XiJA',
   'alias': 'donde-siempre-madrid',
   'name': 'Donde Siempre',
   'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/zwajMBcIXPN4hA-pTnby8w/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/donde-siempre-madrid?adjust_creative=HtGBEqBv3zF4YDHhPbDfHg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=HtGBEqBv3zF4YDHhPbDfHg',
   'review_count': 1,
   'categories': [{'alias': 'latin', 'title': 'Latin American'}],
   'rating': 1.0,
   'coordinates': {'latitude': 40.38746, 'longitude': -3.66816},
   'transactions': [],
   'location': {'address1': 'Calle de la Sierra de Molina, 31',
    'address2': '',
    'address3': '',
    'city': 'Madrid',
    'zip_code': '28053',
    'country': 'ES',
    'state': 'M',
    'display_address': ['Calle de la Sierra de Molina, 31',
     '28053 Madrid',
     'Spain']},
   'phone': '+34914776350',
   'display_phone': '+34 914 77 63 50',
   'distance': 1051.327422835938},
  {'id': '0CchsiR66o0mpb5EdrNdpA',
   'alias': 'ufarte-madrid',
   'name': 'Ufarte',
   'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/HBbn-bXeMe1tUBzKgCyDUg/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/ufarte-madrid?adjust_creative=HtGBEqBv3zF4YDHhPbDfHg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=HtGBEqBv3zF4YDHhPbDfHg',
   'review_count': 1,
   'categories': [{'alias': 'tapas', 'title': 'Tapas Bars'}],
   'rating': 2.0,
   'coordinates': {'latitude': 40.38874, 'longitude': -3.66684},
   'transactions': [],
   'location': {'address1': 'Calle de la Sierra de Molina, 7',
    'address2': '',
    'address3': '',
    'city': 'Madrid',
    'zip_code': '28053',
    'country': 'ES',
    'state': 'M',
    'display_address': ['Calle de la Sierra de Molina, 7',
     '28053 Madrid',
     'Spain']},
   'phone': '+34914788072',
   'display_phone': '+34 914 78 80 72',
   'distance': 1051.327422835938}],
 'total': 8,
 'region': {'center': {'longitude': -3.7305176, 'latitude': 40.4489306}}}

In [ ]:
print(type(yelp_data))

<class 'dict'>

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [ ]:
import pandas as pd

def extract_yelp_data(yelp_data):
    # Initialize empty lists to store extracted data
    yelp_ids = []
    categories = []
    distance = []
    latitude = []
    longitude = []
    address = []
    city = []
    name = []
    rating = []

    businesses = yelp_data.get('businesses', [])

    if not businesses:
        print("No businesses found in the input data.")
        return None

    for business in businesses:
        yelp_id = business.get('id', None)
        category_names = ', '.join([cat['title'] for cat in business.get('categories', [])])
        dist = business.get('distance', None)
        lat = business['coordinates']['latitude']
        lon = business['coordinates']['longitude']
        addr = ', '.join(business.get('location', {}).get('display_address', []))
        city_name = business.get('location', {}).get('city', None)
        business_name = business.get('name', None)
        business_rating = business.get('rating', None)

        # Append extracted data to respective lists
        yelp_ids.append(yelp_id)
        categories.append(category_names)
        distance.append(dist)
        latitude.append(lat)
        longitude.append(lon)
        address.append(addr)
        city.append(city_name)
        name.append(business_name)
        rating.append(business_rating)

    # Create a DataFrame from the extracted data
    data_frame = pd.DataFrame({
        'Yelp ID': yelp_ids,
        'Categories': categories,
        'Distance': distance,
        'Latitude': latitude,
        'Longitude': longitude,
        'Address': address,
        'City': city,
        'Name': name,
        'Rating': rating
    })

    return data_frame

# Example usage:
extracted_data_yelp = extract_yelp_data(yelp_data)
if extracted_data_yelp is not None:
    print(extracted_data_yelp)

                  Yelp ID                        Categories     Distance  \
0  Vc4RIVJO1H3fEVSxKhEyIQ                         Cafeteria   616.451917
1  eQb3XqyhyuhFjeJWVZXIVw                         Cafeteria   388.335995
2  BRA1z3dUr3mydVH3GGGmdQ                      Coffee & Tea   799.139855
3  ihZ_5G2_q0-QpDHZO0bJBw     Cafeteria, Breakfast & Brunch   692.005373
4  F-yMUss08kAYNMFQ5pzvFw  Coffee & Tea, Breakfast & Brunch   675.972340
5  2kF_1PF3OUAwDKYQjEw64A                      Coffee & Tea  1054.363331
6  81FxHLD2sbLP_HPaG2XiJA                    Latin American  1051.327423
7  0CchsiR66o0mpb5EdrNdpA                        Tapas Bars  1051.327423

    Latitude  Longitude                                            Address  \
0  40.445424  -3.724876      Plaza Ramón y Cajal, s/n, 28040 Madrid, Spain
1  40.445956  -3.728114      Avenida Complutense, S/N, 28040 Madrid, Spain
2  40.442676  -3.725866           Avenida Complutense, 28040 Madrid, Spain
3  40.445410  -3.739830  Ciudad Universitaria, Carretera M-30, 28040 Ma...
4  40.443847  -3.726138      Avenida Complutense, s/n, 28040 Madrid, Spain
5  40.447150  -3.730650                Ciudad Universitaria, Madrid, Spain
6  40.387460  -3.668160  Calle de la Sierra de Molina, 31, 28053 Madrid...
7  40.388740  -3.666840  Calle de la Sierra de Molina, 7, 28053 Madrid,...

     City                                               Name  Rating
0  Madrid                        Cafetería Facultad Farmacia     3.5
1  Madrid  Cafetería de la Facultad de Ciencias de la Inf...     4.0
2  Madrid                  Cafetería Facultad de Odontologia     5.0
3  Madrid          Cafetería de la Facultad de Filosofía UCM     3.5
4  Madrid                                        Metrocoffee     4.0
5  Madrid                                    Cafeteria Etsit     3.0
6  Madrid                                      Donde Siempre     1.0
7  Madrid                                             Ufarte     2.0

In [ ]:
import pandas as pd

def extract_yelp_data(yelp_data):
    # Initialize empty lists to store extracted data
    yelp_ids = []
    categories = []
    distance = []
    latitude = []
    longitude = []
    address = []
    city = []
    name = []
    rating = []

    for business in yelp_data.get('businesses', []):
        yelp_id = business['id']
        category_names = ', '.join([cat['title'] for cat in business.get('categories', [])])
        dist = business.get('distance', None)
        lat = business['coordinates']['latitude']
        lon = business['coordinates']['longitude']
        addr = ', '.join(business.get('location', {}).get('display_address', []))
        city_name = business.get('location', {}).get('city', None)
        business_name = business.get('name', None)
        business_rating = business.get('rating', None)

        # Append extracted data to respective lists
        yelp_ids.append(yelp_id)
        categories.append(category_names)
        distance.append(dist)
        latitude.append(lat)
        longitude.append(lon)
        address.append(addr)
        city.append(city_name)
        name.append(business_name)
        rating.append(business_rating)

    # Create a DataFrame from the extracted data
    data_frame = pd.DataFrame({
        'Yelp ID': yelp_ids,
        'Categories': categories,
        'Distance': distance,
        'Latitude': latitude,
        'Longitude': longitude,
        'Address': address,
        'City': city,
        'Name': name,
        'Rating': rating
    })

    return data_frame

# Example usage:
extracted_data_yelp = extract_yelp_data(yelp_data)
print(extracted_data_yelp)

                  Yelp ID                        Categories     Distance  \
0  Vc4RIVJO1H3fEVSxKhEyIQ                         Cafeteria   616.451917
1  eQb3XqyhyuhFjeJWVZXIVw                         Cafeteria   388.335995
2  BRA1z3dUr3mydVH3GGGmdQ                      Coffee & Tea   799.139855
3  ihZ_5G2_q0-QpDHZO0bJBw     Cafeteria, Breakfast & Brunch   692.005373
4  F-yMUss08kAYNMFQ5pzvFw  Coffee & Tea, Breakfast & Brunch   675.972340
5  2kF_1PF3OUAwDKYQjEw64A                      Coffee & Tea  1054.363331
6  81FxHLD2sbLP_HPaG2XiJA                    Latin American  1051.327423
7  0CchsiR66o0mpb5EdrNdpA                        Tapas Bars  1051.327423

    Latitude  Longitude                                            Address  \
0  40.445424  -3.724876      Plaza Ramón y Cajal, s/n, 28040 Madrid, Spain
1  40.445956  -3.728114      Avenida Complutense, S/N, 28040 Madrid, Spain
2  40.442676  -3.725866           Avenida Complutense, 28040 Madrid, Spain
3  40.445410  -3.739830  Ciudad Universitaria, Carretera M-30, 28040 Ma...
4  40.443847  -3.726138      Avenida Complutense, s/n, 28040 Madrid, Spain
5  40.447150  -3.730650                Ciudad Universitaria, Madrid, Spain
6  40.387460  -3.668160  Calle de la Sierra de Molina, 31, 28053 Madrid...
7  40.388740  -3.666840  Calle de la Sierra de Molina, 7, 28053 Madrid,...

     City                                               Name  Rating
0  Madrid                        Cafetería Facultad Farmacia     3.5
1  Madrid  Cafetería de la Facultad de Ciencias de la Inf...     4.0
2  Madrid                  Cafetería Facultad de Odontologia     5.0
3  Madrid          Cafetería de la Facultad de Filosofía UCM     3.5
4  Madrid                                        Metrocoffee     4.0
5  Madrid                                    Cafeteria Etsit     3.0
6  Madrid                                      Donde Siempre     1.0
7  Madrid                                             Ufarte     2.0

In [ ]:
extracted_data_yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Yelp ID     8 non-null      object
 1   Categories  8 non-null      object
 2   Distance    8 non-null      float64
 3   Latitude    8 non-null      float64
 4   Longitude   8 non-null      float64
 5   Address     8 non-null      object
 6   City        8 non-null      object
 7   Name        8 non-null      object
 8   Rating      8 non-null      float64
dtypes: float64(4), object(5)
memory usage: 704.0+ bytes

Put your parsed results into a DataFrame

In [ ]:
# Already parsed into a dataframe in the function. # Create a DataFrame from the extracted data
# data_frame = pd.DataFrame({ 'Yelp ID': yelp_ids,'Categories': categories,'Distance': distance,'Latitude': latitude,'Longitude': longitude,
# 'Address': address,'City': city,'Name': name,'Rating': rating})'''

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

##### I have found that both the Foursquare and Yelp APIs provide valuable data for various purposes. The choice of which one to use depends on your specific needs and the type of data you require. 

##### The Yelp API has been particularly helpful for me. It provided me with information primarily related to businesses and places, with a strong focus on user-generated reviews and ratings. This includes detailed information about businesses such as their names, addresses, contact details, ratings, reviews, and categories. It has proven to be very useful when I needed to analyze and compare user opinions, ratings, and reviews about restaurants, bars, and other businesses. I've found it to be more suitable for applications related to the hospitality and food service industry.

##### On the other hand, the Foursquare API has also been quite valuable in my work. It offers a broader range of location-based data and insights beyond just businesses and places. In addition to business details, Foursquare has provided me with data related to check-ins, user-generated tips, user profiles, and location trends. This extensive dataset has been instrumental in exploring user behavior, tracking trends in check-in activity, and understanding user preferences in a more general sense. It's a versatile choice for applications that require a deeper understanding of user engagement and location-based behavior.

##### "I was unable to find ratings information from Foursquare data for the city I chose(Madrid)".

##### In summary, if you primarily need detailed information about businesses, their ratings, and reviews, the Yelp API may be more suitable for your needs. On the other hand, if you're interested in a broader range of location-based data, including user activity and trends, the Foursquare API can provide valuable insights. Your choice should align with your specific analytical goals and the type of data that best serves your analysis."

Get the top 10 restaurants according to their rating

In [ ]:
# Save this as a csv file

import pandas as pd

# Save the DataFrame as a CSV file
extracted_data_yelp.to_csv('C:\\Users\\affuy\\Documents\\Data_Sets\\df_Yelp.csv', index=False)